/*Main colors: #4875B5; Secondary color: #F69731;
/***********************
    Body-Background : for easy gradiants refear to http://www.css3factory.com/linear-gradients;
************************/
.body-background{
  background-image: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");

  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, #2B5794),
    color-stop(1, #F69731)
  );
  background-image: -o-linear-gradient(right top, #2B5794 15%, #F69731 100%);
  background-image: -moz-linear-gradient(right top, #2B5794 15%, #F69731 100%);
  background-image: -webkit-linear-gradient(right top, #2B5794 15%, #F69731 100%);
  background-image: -ms-linear-gradient(right top, #2B5794 15%, #F69731 100%);
  background-image: linear-gradient(to right top, #2B5794 15%, #F69731 100%);
}
/***********************
        Header
************************/
.fp-r header{
  background:none;
  box-shadow: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #2B5794),
    color-stop(1, #5789CF)
  );
  background-image: -o-linear-gradient(bottom, #2B5794 0%, #5789CF 100%);
  background-image: -moz-linear-gradient(bottom, #2B5794 0%, #5789CF 100%);
  background-image: -webkit-linear-gradient(bottom, #2B5794 0%, #5789CF 100%);
  background-image: -ms-linear-gradient(bottom, #2B5794 0%, #5789CF 100%);
  background-image: linear-gradient(to bottom, #2B5794 0%, #5789CF 100%);
}
.fp-r .nav a{color: #fff;}
.fp-r .merchantLogo{border-color:#3765A5}
.fp-r .merchantLogo img{margin: -1px 0 0 -2px;padding: 12px;}
/***********************
      Pay/Next Button
************************/
.fp-r .pay{background-color: #F69731;}
/***********************
        Inputs
************************/
.fp-r .checkbox label::after {color: #F69731;}
.fp-r .radio input[type="radio"]:checked + label::before,
.fp-r .checkbox input[type="checkbox"]:checked + label::before{border-color: #F69731;}
.fp-r .radio label::after {background-color: #F69731;}
/***********Bank Agrement************/
.fp-r .agreement-label{color:#404d5b;}
.fp-r .agreement-label a { color:#4875B5;}
/***********************
      Visa/ Master
************************/
.fp-r i.visa, .fp-r i.mastercard, .fp-r i.amex, .fp-r i.mada, .fp-r i.nps {color: #F69731;}
/***********************
         3DS
************************/
.fp-r .secureBtn {
  background: #fff;
  color: #404d5b;
  border: 1px solid #F69731;
}
.fp-r .secureBtn:hover {
  background: #F69731;
  border-color:#F69731;
}
/***********************
     Response Page
************************/
.fp-r .topSection {
background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.10, #51545A ),
  color-stop(0.90, #3A3C40)
);
background-image: -o-linear-gradient(top, #51545A  10%, #3A3C40 90%);
background-image: -moz-linear-gradient(top, #51545A  10%, #3A3C40 90%);
background-image: -webkit-linear-gradient(top, #51545A  10%, #3A3C40 90%);
background-image: -ms-linear-gradient(top, #51545A  10%, #3A3C40 90%);
background-image: linear-gradient(to top, #51545A  10%, #3A3C40 90%);
box-shadow:    inset 0px -1px 0px rgba(58, 60, 64, 0.85)
}

.fp-r .btm{background: #FFF; border: 1px solid #F69731; color:#F69731;}
.fp-r .btm:hover{border-color:#F69731; background-color: #F69731; color: #FFF;}
.fp-r .btm.fail{border: 1px solid rgb(211, 61, 61); color: rgb(211, 61, 61);}
.fp-r .successBg{background: #F69731;}
.fp-r .failedBg{background: rgb(211, 61, 61);}
/*****************************
  inputs Animations - icon
******************************/
.fp-r .input-field:focus + .input-label .icon,
.fp-r .input-filled .icon {
  -webkit-animation: input-icon 0.3s forwards;
  animation: input-icon 0.3s forwards;
}

@-webkit-keyframes input-icon {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.25% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #F69731;
  }
}

@keyframes input-icon {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.25% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #F69731;
  }
}
/*****************************
              End
******************************/