@font-face {
  font-family: 'fontello';
  src: url('/fonts/icons/fontello.eot?66095825');
  src: url('/fonts/icons/fontello.eot?66095825#iefix') format('embedded-opentype'),
       url('/fonts/icons/fontello.woff2?66095825') format('woff2'),
       url('/fonts/icons/fontello.woff?66095825') format('woff'),
       url('/fonts/icons/fontello.ttf?66095825') format('truetype'),
       url('/fonts/icons/fontello.svg?66095825#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/fonts/icons/fontello.svg?66095825#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cc-mada:before { content: '\e800'; } /* 'î €' */
.icon-cc-visa:before { content: '\e801'; } /* 'î ' */
.icon-credit-card:before { content: '\e802'; } /* 'î ‚' */
.icon-calendar-empty:before { content: '\e803'; } /* 'î ƒ' */
.icon-lock:before { content: '\e804'; } /* 'î „' */
.icon-user:before { content: '\e805'; } /* 'î …' */
.icon-cc-mastercard:before { content: '\e806'; } /* 'î †' */
.icon-attention-circled:before { content: '\e807'; } /* 'î ‡' */
.icon-ok-circled:before { content: '\e808'; } /* 'î ˆ' */
.icon-ok:before { content: '\e809'; } /* 'î ‰' */
.icon-cancel-circled:before { content: '\e80a'; } /* 'î Š' */
.icon-left-circled:before { content: '\e80b'; } /* 'î ‹' */
.icon-ok-circled2:before { content: '\e80c'; } /* 'î Œ' */
.icon-right-circled:before { content: '\e80d'; } /* 'î ' */
.icon-spin4:before { content: '\e80e'; } /* 'î Ž' */
.icon-spin5:before { content: '\e80f'; } /* 'î ' */
.icon-mobile:before { content: '\e810'; } /* 'î ' */
.icon-mail:before { content: '\e811'; } /* 'î ‘' */
.icon-mobile-1:before { content: '\e812'; } /* 'î ’' */
.icon-paper-plane-empty:before { content: '\e813'; } /* 'î “' */
.icon-paper-plane:before { content: '\e814'; } /* 'î ”' */
.icon-paper-plane-1:before { content: '\e815'; } /* 'î •' */
.icon-cc-nps:before { content: '\e817'; } /* 'î —' */
.icon-cc-amex:before { content: '\f1f3'; } /* 'ï‡³' */