@font-face {
    font-family: Tajawal-Regular;
    src: url(../fonts/Tajawal-Regular.ttf)
}

@font-face {
    font-family: Tajawal-Black;
    src: url(../fonts/Tajawal-Black.ttf)
}

@font-face {
    font-family: Tajawal-Bold;
    src: url(../fonts/Tajawal-Bold.ttf)
}

@font-face {
    font-family: Tajawal-ExtraLight;
    src: url(../fonts/Tajawal-ExtraLight.ttf)
}

@font-face {
    font-family: Tajawal-Light;
    src: url(../fonts/Tajawal-Light.ttf)
}

@font-face {
    font-family: Tajawal-SemiBold;
    src: url(../fonts/Tajawal-SemiBold.ttf)
}

.body-over {
    overflow-y: hidden !important
}

::-webkit-scrollbar {
    width: 9px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    outline: 1px solid #fff;
    border-radius: 30px
}

::-moz-selection {
    background: #003467;
    color: #fff
}

::selection {
    background: #003467;
    color: #fff
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0 !important
}

body {
    font-family: Tajawal-Regular, sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 1.6;
    color: #666;
    direction: ltr;
    overflow-x: hidden !important;
    overflow-y: hidden
}

.body-overlay {
    background-color: rgba(12, 12, 12, .75);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    opacity: 0;
    display: none
}

.back {
    opacity: 1;
    display: block
}

.back-nav {
    margin-left: 0 !important;
    transform: none !important
}

.body-over {
    overflow-y: hidden !important
}

.form-group {
    margin-bottom: 25px;
    position: relative
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid transparent;
    padding: 9px !important;
    width: 100% !important;
    height: 40px !important;
    margin: 0 !important;
    border-radius: 5px;
    background-color: #eee;
    color: #212121;
    position: relative
}

.form-control ~ .focus-border:after,
.form-control ~ .focus-border:before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: #b29040;
    transition: .4s
}

.form-control ~ .focus-border:after {
    top: auto;
    bottom: 0
}

.form-control ~ .focus-border i:after,
.form-control ~ .focus-border i:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 0;
    background-color: #b29040;
    transition: .6s
}

.form-control ~ .focus-border i:after {
    right: auto;
    left: 0
}

.form-control:focus ~ .focus-border:after,
.form-control:focus ~ .focus-border:before {
    right: 0;
    width: 100%;
    transition: .4s
}

.form-control:focus ~ .focus-border i:after,
.form-control:focus ~ .focus-border i:before {
    top: 0;
    height: 100%;
    transition: .6s
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none !important;
    outline: 0 !important
}

.input-lg {
    resize: none;
    height: 75px !important;
    overflow-y: auto;
    font-size: 14px
}

label {
    color: #212121;
    margin: 0 0 6px 0;
    text-align: right
}

.no-padding {
    padding: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-border {
    border: 0 !important
}

#scroll-top,
.form-control,
.owl-carousel .owl-next,
.owl-carousel .owl-next i,
.owl-carousel .owl-prev,
.owl-carousel .owl-prev i,
.scaleimg,
a,
button,
h4,
i,
img,
li,
p,
span,
ul.nav > li:after {
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out
}

a,
a:focus,
a:hover {
    text-decoration: none;
    cursor: pointer;
    outline: 0 !important
}

button {
    border: 0;
    color: #fff
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

li {
    display: inline-block
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.body-overlay.back {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left !important
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient(#f3f3f3, #c3d7ea);
    z-index: 100;
    height: 100%;
    font-size: 16px;
    z-index: 9999999
}

.in-load {
    animation: spin 10s linear infinite;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70px;
    width: 70px
}

.in-load > div {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0
}

.in-load > div > span {
    display: block;
    float: right;
    width: 35px;
    height: 35px;
    animation: loading 2s linear infinite;
    opacity: .5;
    box-shadow: 0 0 3px #000
}

.in-load > div:first-child > span {
    background-color: #b29040
}

.in-load > div:last-child {
    transform: rotate(-45deg)
}

.in-load > div:last-child > span {
    background-color: #003467
}

@keyframes loading {
    0% {
        border-radius: 0;
        transform: scale(1)
    }

    50% {
        border-radius: 35px;
        transform: scale(.5)
    }

    100% {
        border-radius: 0;
        transform: scale(1)
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(-360deg)
    }
}

.back {
    opacity: 1;
    display: block
}

.body-over {
    overflow-y: hidden !important
}

#nav-icon1 {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    width: 30px;
    height: 40px;
    z-index: 999;
    right: 0;
    line-height: 2
}

#nav-icon1.open span:before,
#nav-icon1:focus span:before,
#nav-icon1:hover span:before {
    color: #b29040 !important
}

#nav-icon1 span:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f52a";
    color: #003467;
    font-size: 20px
}

#nav-icon1.open span:before {
    content: "\f52b"
}

#nav-icon1.open {
    position: relative;
    z-index: 999999;
    transform: rotateY(39deg)
}

.navbar {
    width: 100%;
    border-radius: 0;
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    border: 0 !important;
    min-height: auto
}

.right-one {
    display: none
}

.nav-right {
    text-align: center
}

.logo-nav {
    width: 100px;
    display: inline-block;
    height: 75px
}

#coin img {
  width: 100%;
  height: 100%;
}


#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#coin img {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);
filter: grayscale(100%)
}

#coin.heads {
  -webkit-animation: flipHeads 7s ease-out infinite;
  -moz-animation: flipHeads 7s ease-out infinite;
    -o-animation: flipHeads 7s ease-out infinite;
       animation: flipHeads 7s ease-out infinite;
}
#coin.tails {
  -webkit-animation: flipTails 7s ease-out infinite;
  -moz-animation: flipTails 7s ease-out infinite;
    -o-animation: flipTails 7s ease-out infinite;
       animation: flipTails 7s ease-out infinite;
}

@-webkit-keyframes flipHeads {
  from {  transform: rotateY(0); }
  to {  transform: rotateY(180deg); }
}
@-webkit-keyframes flipTails {
  from {  transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}


.logo-nav img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.navbar ul.nav {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center
}

ul.nav > li {
    position: relative
}

ul.nav > li > a {
    color: #666;
    font-family: Tajawal-Bold, sans-serif;
    padding: 0;
    font-size: 15px;
    display: inline
}

.nav.cf li.active a,
.nav > li > a:focus,
ul.nav > li:hover > a,
ul.nav > li > a:hover {
    background-color: transparent;
    color: #b29040 !important
}

ul.nav > li:after,
ul.nav > li:before {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #b29040;
    transition: all .3s
}

ul.nav > li:before {
    right: 0;
    top: 15px
}

ul.nav > li:after {
    left: 0;
    bottom: 15px
}

.nav.cf li.active:after,
.nav.cf li.active:before {
    width: 100%;
    opacity: 1
}

.left-nav {
    text-align: center;
    position: relative
}

.lang {
    display: inline-block
}

.lang .remain {
    color: #666;
    padding: 0 4px 0 0;
    font-family: Tajawal-Regular, sans-serif
}

.lang a {
    color: #b29040;
    padding: 0 0 0 4px;
    font-family: Tajawal-SemiBold, sans-serif
}

.lang a:focus,
.lang a:hover {
    color: #212121
}

.searching {
    color: #666;
    font-size: 16px;
    background-color: transparent
}

.searching:focus,
.searching:hover {
    color: #b29040
}

.SearchBox-input::placeholder {
    color: #666
}

.SearchBox-input::-webkit-input-placeholder {
    color: #666
}

.SearchBox-input::-moz-placeholder {
    color: #666
}

.SearchBox-input:-ms-input-placeholder {
    color: #666
}

#formGroupExampleInput:-moz-placeholder {
    color: #666
}

.SearchBox {
    display: inline-block;
    width: 50px;
    height: 50px
}

.SearchBox-input {
    width: 0;
    color: #666;
    transition: .3s;
    height: 35px;
    position: absolute;
    right: 0;
    border: 1px solid transparent;
    border-radius: 30px;
    top: calc(50% - 17.5px);
    padding: 0 5px;
    opacity: 0
}

.SearchBox:hover .SearchBox-input {
    border: 1px solid #b29040;
    width: 100%;
    opacity: 1
}

.fixd-navbar {
    position: fixed;
    top: 0;
    padding: 0 8px !important;
    background: #f6f6f6;
    -webkit-box-shadow: 0 5px 5px 0 rgba(229, 229, 229, .8);
    -moz-box-shadow: 0 5px 5px 0 rgba(229, 229, 229, .8);
    box-shadow: 0 5px 5px 0 rgba(229, 229, 229, .8);
    height: 65px;
    line-height: 65px;
    overflow: hidden
}

.fixd-navbar .logo-nav a {
    line-height: 75px
}

.fixd-navbar ul.nav > li > a {
    color: #000060;
    font-size: 15px
}


.fixd-navbar ul.nav {
    margin: 0 auto;
    line-height: 63px
}

.header {
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%
}

.header-overlay {
    background-color: rgba(12, 12, 12, .65);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9
}

.slide {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto
}

.header #owl-demo {
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    height: 100%
}

#owl-demo .item {
    width: 100%;
    height: 140vh
}

#owl-demo img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative
}

.slide-overlay {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 9
}

.carousel-caption {
    width: 55%;
    text-align: left;
    padding: 80px 0 110px 0;
    left: 0;
    top: 16.5%;
    right: auto;
    height: max-content;
    bottom: unset;
    overflow: hidden
}

.carousel-caption h3 {
    font-size: 36px;
    color: #003467;
    text-align: center;
    word-spacing: 5px;
    font-family: Tajawal-Bold, sans-serif;
    margin: 0 0 35px 80px;
    text-shadow: -2px 2px rgba(0, 52, 103, .5)
}

.large-txt {
    background-color: #fff;
    border-radius: 0 16px 16px 0;
    padding: 55px 0;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all .5s ease-in-out
}

.increase {
    opacity: 1;
    animation: large-width 2.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transition: all .5s ease-in-out
}

.large-txt:after {
    content: "";
    clip-path: polygon(100% 0, 0 0, 0 100%);
    position: absolute;
    bottom: -99px;
    background-color: #fff;
    left: 0;
    width: 99%;
    height: 100px
}

@keyframes large-width {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

.carousel-caption h4 {
    font-size: 17px;
    color: #181818;
    margin: 0;
    line-height: 1.7;
    text-shadow: none;
    font-family: Tajawal-SemiBold, sans-serif;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    opacity: 1;
    width: 80%;
    display: block
}

.carousel-caption p {
    font-size: 16px;
    color: #fff;
    margin: 0 0 15px 0
}

.owl-carousel .owl-dots.disabled {
    display: block
}

.owl-dots {
    position: absolute;
    top: calc(40% - 33px);
    z-index: 999;
    right: calc(8% - 12px)
}

#owl-demo .owl-dot {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 0 7px 0;
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: #b29040;
    border-radius: 50%;
    opacity: .4
}

#owl-demo .owl-dot:last-child {
    margin: 0
}

#owl-demo .owl-dot.active,
#owl-demo .owl-dot:hover {
    opacity: 1
}

.btn-3 {
    position: relative;
    display: block;
    overflow: hidden;
    height: 60px;
    width: 200px;
    border-radius: 12px;
    text-transform: uppercase;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-family: Tajawal-SemiBold, sans-serif;
    font-size: 16px;
    margin: 0;
    z-index: 10;
    border: 2px solid #b29040
}

.btn-3:hover {
    border-color: #003467;
    color: #fff
}

.btn-3:before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #003467;
    position: absolute;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    right: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(.77, 0, .175, 1);
    -o-transition: all .7s cubic-bezier(.77, 0, .175, 1);
    -webkit-transition: all .7s cubic-bezier(.77, 0, .175, 1);
    transition: all .7s cubic-bezier(.77, 0, .175, 1);
    box-shadow: -2px 0 14px rgba(0, 0, 0, .6)
}

.btn-3:after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #b29040;
    position: absolute;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    right: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: -2px 0 14px rgba(0, 0, 0, .6)
}

.btn-3:hover:before {
    opacity: 1;
    width: 116%
}

.btn-3:hover:after {
    opacity: 1;
    width: 120%
}

.all-sections {
    padding: 50px 0
}

.h2-after {
    color: #17176d;
    font-size: 26px;
    text-align: center;
    margin: 0 auto 25px auto;
    text-transform: capitalize;
    font-family: Tajawal-Bold, sans-serif;
    width: max-content;
    padding: 0 0 20px 0;
    position: relative
}

.h2-after:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #18186e;
    width: 46%
}

.title-name {
    position: relative;
    margin: 0 auto 50px auto;
    text-align: center;
    width: max-content
}

.name-bg {
    color: #e1e1e1;
    font-size: 62px;
    font-family: Tajawal-Bold, sans-serif;
    letter-spacing: 1px;
    position: absolute;
    z-index: -1;
    left: -200px;
    margin: 0 auto;
    top: -52px;
    width: max-content
}

.name-front {
    color: #000;
    font-size: 21px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: center
}

.footer {
    font-size: 13px;
    padding: 30px 0 0 0;
    border-top: 2px solid #d8d5d5
}

.new-logo {
    width: 110px
}

.new-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.footer-content {
    padding: 30px 0
}

.foot1 {
    margin: 0 0 15px 0
}

.footer h3 {
    font-size: 14px;
    text-transform: capitalize;
    font-family: Tajawal-Bold, sans-serif;
    margin: 0 0 15px 0
}

.calling li,
.footer li {
    display: block;
    line-height: 2.5
}

.calling li a,
.footer li a {
    color: #666
}

.calling li span,
.foot1 ul li span {
    width: 50px;
    display: inline-block
}

.calling li a:focus,
.calling li a:hover,
.footer li a:focus,
.footer li a:hover {
    color: #b29040
}

.mail-to,
.subscribe {
    margin: 36px 0 0 0
}

.footer .form2 {
    margin: 0;
    width: 100%
}

.footer .form2 .form-group {
    margin-bottom: 0
}

.footer .form2 button {
    margin: 10px auto 0 auto;
    float: none
}

.social {
    margin: 30px 0 0 0
}

.social li {
    display: inline-block;
    line-height: 1;
    width: 30px;
    text-align: center;
    font-size: 16px;
    color: #333
}

.social li a {
    color: #333
}

.social li a span {
    color: #000060;
    width: 24px;
    display: inline-block;
    height: 24px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px
}

.social li:last-child a {
    margin: 0
}

.social li a:hover span {
    background-color: #b29040
}

.social li a:focus,
.social li a:hover {
    color: #003467
}

.copyright {
    padding: 5px 0;
    text-align: center;
    direction: ltr;
    color: #9c9c9c;
    font-size: 13px
}

.copyright span {
    vertical-align: text-bottom
}

.copyright a {
    margin: 0 0 0 4px;
    color: #b29040
}

.copyright a:focus,
.copyright a:hover {
    color: #003467
}

.group1 {
    width: 100%;
    height: 470px;
    position: relative;
    margin: 0 auto
}

.app-bg,
.app-bg h2,
.app-bg img,
.brown1,
.brown2,
.group1,
.groups .no-padding,
.in-content,
.out-hidden {
    transition: all .5s ease-in-out
}

.app-bg {
    width: 100%;
    height: 100%;
    background-color: #ccdfe3;
    position: relative;
    transition: .5s;
    z-index: 9
}

.app-bg,
.brown1,
.brown2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}

.app-bg h2 {
    color: #000;
    font-family: Tajawal-Bold, sans-serif;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    width: 100%;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0;
    font-size: 33px
}

.app-bg .in-content {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
    background-color: rgba(233, 234, 230, .7);
    margin: 0 auto;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    overflow: hidden
}

.app-bg img,
.app-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: 9;
    position: relative;
    opacity: .8
}

.app-bg video {
    object-fit: contain;
    transition: all .5s ease-in-out
}

.out-hidden {
    opacity: 0;
    transform: translateY(100%);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    max-height: calc(100% - 86px);
    overflow: hidden
}

.out-hidden p {
    color: #000;
    font-family: Tajawal-SemiBold, sans-serif;
    font-size: 15px;
    margin: 0 auto 20px auto;
    max-height: 285px;
    overflow: hidden
}

.out-hidden .btn-3 {
    width: 160px;
    margin: 0 auto;
    height: 40px;
    line-height: 34px;
    border-radius: 30px;
    background-color: #b29040
}

.out-hidden .btn-3:after,
.view-all:after {
    background: #547d8e
}

.brown1 {
    background-color: #e8ddc5;
    left: 0;
    right: 0;
    margin: 0 auto
}

.brown2 {
    background-color: #e8ddc5;
    left: 0;
    right: 0;
    margin: 0 auto
}

.group1:hover {
    width: 90%
}

.groups .no-padding:hover {
    padding: 0 15px !important
}

.group1:hover .brown1 {
    transform: rotate(12deg)
}

.group1:hover .brown2 {
    transform: rotate(-12deg)
}

.group1:hover .baby-blue {
    transform: rotate(-4deg)
}

.group1:hover .app-bg .in-content {
    width: 93%;
    height: 93%
}

.group1:hover .app-bg img {
    filter: none;
    opacity: 1
}

.group1:hover .app-bg h2 {
    top: 10%;
    font-family: Tajawal-SemiBold, sans-serif;
    font-size: 28px
}

.group1:hover .out-hidden {
    opacity: 1;
    transform: none
}

.view-all {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    color: #b29040;
    width: 180px;
    height: 45px;
    line-height: 41px;
    border-radius: 35px
}

.about {
    background-image: url(../img/graph.png);
    background-repeat: no-repeat;
    background-size: 35% 88%;
    background-position: left 0 top 65px
}

.admins {
    position: relative;
    padding: 0 0 0 100px;
    margin: 0 0 0 50px
}

.sec-title {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    top: 0
}

.sec-title p {
    transform: rotate(-90deg);
    color: #000;
    font-size: 19px;
    top: 50px;
    position: absolute;
    left: -100px;
    font-family: Tajawal-SemiBold, sans-serif
}

.admin1 {
    display: flex;
    margin: 0 0 25px 0
}

.admin-img {
    width: 90px;
    height: 120px;
    float: left;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    transition: all .5s ease-in-out
}

.admin-img img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.admin-img:hover img {
    transform: scale(1.2)
}

.admin-info {
    width: calc(100% - 120px);
    float: right;
    text-align: left;
    height: 120px;
    position: relative
}
.admin-in .name-bg{
    right: -165px;
}
.admin-in .name-front{
    display: block !important;
}
.info-content {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
    margin: 0 auto;
    right: 50%;
    padding: 0 0 0 20px;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%)
}

.admin-info h3 {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    transition: all .5s ease-in-out;
}
.admin1:hover h3{
    color: #b29040;
}
.admin-info h4 {
    color: #b29040;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px
}

.performance {
    padding: 0 100px 0 0;
    margin: 50px 50px 0 0
}

.performance .sec-title {
    left: auto;
    right: 0
}

.js .cd-h-timeline--loaded {
    margin: 0 auto;
    display: table
}

.js .cd-h-timeline__container {
    margin: 0 auto;
    width: 90%
}

.js .cd-h-timeline__date {
    bottom: 14px;
    max-width: 70px
}

.js .cd-h-timeline__date::after {
    bottom: -19px
}

.cd-h-timeline .group1 {
    width: 100px;
    height: 115px
}

.js .cd-h-timeline__line {
    top: auto;
    bottom: 10px
}

.js .cd-h-timeline__navigation {
    text-align: center
}

.js .cd-h-timeline__navigation svg {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    right: 0;
    bottom: 5px;
    left: 0;
    margin: 0 auto;
    transform: none;
    color: #676767
}

.js .cd-h-timeline__navigation::after {
    display: none
}

.js .cd-h-timeline__navigation {
    transform: none
}

.js .cd-h-timeline__filling-line {
    background-color: #b29040
}

.js .cd-h-timeline__date--older-event::after {
    border-color: #b29040;
    background-color: #b29040
}

.js .cd-h-timeline__navigation:hover {
    border-color: #b29040
}

.js .cd-h-timeline__date--selected::after,
.js .cd-h-timeline__date:hover::after {
    background-color: #b29040;
    border-color: #b29040
}

.text-component h2 {
    font-size: 21px;
    color: #000
}

.text-component em {
    color: #b29040;
    margin: 6px 0;
    display: block
}

.text-component p {
    color: #000
}

span.date {
    min-width: 15px;
    display: inline-block;
    text-align: center
}

.js .cd-h-timeline__events {
    width: 70%;
    margin: 30px auto 0 auto
}

.servs {
    display: inline-block;
    position: relative;
    height: 400px;
    width: 100%
}

.servs-content {
    display: block;
    width: 100%;
    z-index: 9;
    position: absolute;
    margin: 0 auto;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%)
}

.serv1 {
    display: flex;
    margin: 0 0 15px 0
}

.serv-img {
    width: 40px;
    float: left
}

.serv-img img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.serv-body {
    width: calc(100% - 70px);
    float: right;
    text-align: left;
    color: #000;
    padding: 0 0 0 20px
}

.serv-body h3 {
    font-family: Tajawal-SemiBold, sans-serif;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px
}

.serv-body p {
    margin: 0
}

.serv-bg {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative
}

.serv-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-animation: scaling 40s linear infinite;
    -moz-animation: scaling 40s linear infinite;
    -o-animation: scaling 40s linear infinite;
    animation: scaling 40s linear infinite
}

@keyframes scaling {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

.library .group1 {
    height: 300px
}

.library .group1:hover {
    width: 100%
}

.library .app-bg {
    background-color: transparent
}

.title-lg .name-bg {
    left: -300px
}

.title-sm .name-bg {
    left: -150px
}

.partner1 {
    width: 90%;
    max-height: 150px;
    margin: 0 auto;
    display: table
}

.partner1 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down
}

#owl-partners .owl-nav.disabled {
    display: block
}

#owl-partners .owl-next,
#owl-partners .owl-prev {
    position: absolute;
    top: calc(50% - 20px);
    font-size: 25px;
    color: #b7b7b7;
    text-align: center;
    cursor: pointer
}

#owl-partners .owl-prev {
    left: -20px
}

#owl-partners .owl-next {
    right: -20px
}

#owl-partners .owl-next:hover,
#owl-partners .owl-prev:hover {
    color: #003467
}

.map-content {
    height: 480px
}

#map {
    width: 100%;
    height: 100%
}

.call {
    width: 100%;
    max-height: 100%;
    padding: 0 30px
}

.call h3 {
    font-size: 19px;
    text-transform: capitalize;
    font-family: Tajawal-Bold, sans-serif;
    margin: 0 0 15px 0;
    color: #000
}

.city {
    display: block !important;
    color: #000 !important;
    margin: 10px 0 0 0 !important;
    width: auto !important;
    line-height: 1 !important;
    font-family: Tajawal-Bold, sans-serif !important
}

.form2 {
    display: inline-block;
    margin: 25px 0 0 0;
    width: 80%
}

.form2 .form-group {
    margin-bottom: 14px
}

.form2 label {
    font-family: Tajawal-SemiBold, sans-serif
}

.form2 .form-control {
    border-bottom: 1px solid rgba(93, 93, 93, .8);
    border-radius: 0;
    background-color: #fff;
    font-size: 16px
}

.form2 .form-control:focus ~ .focus-border:before {
    display: none
}

.form2 .form-control ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: #000060;
    transition: .4s
}

.form2 .form-control ~ .focus-border:after {
    top: auto;
    bottom: 0
}

.form2 .form-control ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 0;
    background-color: #003467;
    transition: .6s
}

.form2 .form-control ~ .focus-border i:after {
    right: auto;
    left: 0
}

.form2 .form-control:focus ~ .focus-border:after {
    right: 0;
    width: 100%;
    transition: .4s
}

.form2 .form-control:focus ~ .focus-border i:after,
.form2 .form-control:focus ~ .focus-border i:before {
    top: 0;
    height: 100%;
    transition: .6s
}

.form2 .form-control:focus {
    border-color: transparent;
    box-shadow: none !important;
    outline: 0 !important
}

.form2 button {
    border-radius: 30px;
    background-color: transparent;
    color: #b29040;
    border-color: #b29040;
    box-shadow: none;
    width: 150px;
    height: 32px;
    line-height: 28px;
    font-size: 13px;
    float: right;
    margin: 15px 0 0 0
}

.paragraph {
    text-align: center;
    margin: 0 auto 70px auto
}

.logo-lg {
    width: 270px;
    margin: 0 auto
}

.logo-lg img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.paragraph p {
    color: #000;
    font-size: 16px;
    margin: 40px auto 0 auto;
    width: 90%;
    line-height: 1.8
}

.servees .serv1 {
    margin: 0 0 25px 0
}

.pagination {
    margin: 40px auto 0 auto;
    display: table;
    border-radius: 0
}

.pagination li {
    margin: 0 6px;
    display: inline-block
}

.pagination li a {
    border-radius: 50% !important;
    float: left;
    color: #8a8c8e
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #003467
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #b29040;
    border-color: #b29040
}

.container .jumbotron,
.container-fluid .jumbotron {
    padding-left: 60px;
    padding-right: 0
}

.bgblue-dark {
    background-color: #2c3e50
}

.bgblue-light {
    background-color: #3498db
}

.bgred {
    background-color: #e74c3c
}

.wrk-title {
    cursor: pointer
}

.cta-1,
.cta2 {
    background-color: #e43c5c;
    padding: 40px 0
}

p.cta-sub-title {
    font-size: 28px
}

.pg-titl-bdr-btm {
    width: 100px;
    height: 3px;
    background-color: #ffc31d
}

.service-box {
    margin: 0 0 60px;
    display: inline-block
}

.service-box .service-icon {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    line-height: 75px;
    text-align: center;
    color: #e43c5c;
    font-size: 30px;
    margin-left: 23px;
    float: right;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    transition: all .5s ease 0s
}

.service-box .service-text {
    width: 70%;
    float: right;
    margin-bottom: 20px
}

.service-box .service-text h3 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #333;
    font-weight: 400;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    transition: all .5s ease 0s
}

.page-title {
    margin-bottom: 40px
}

#portfolio .filimg {
    position: relative
}

#portfolio .filimg .overlay {
    position: absolute;
    width: 90%;
    height: 100%;
    display: none;
    background-color: rgba(16, 162, 218, .7);
    z-index: 9999
}

#portfolio .filimg .overlay .content {
    position: relative;
    top: 30%
}

#portfolio .filimg .overlay img {
    width: 80px;
    height: 49px;
    display: table;
    margin: 0 auto
}

#portfolio .filimg:hover .overlay {
    display: block
}

#portfolio h1 {
    color: #fff;
    font-size: 27px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px
}

#portfolio p {
    line-height: 1.7;
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    color: #777
}

img.img-responsive.photo {
    height: 260px
}

.content h3 {
    color: #fff
}

.content p {
    color: #fff !important
}

.category-1 {
    position: relative
}

.port-sec {
    display: table;
    margin: 0 auto;
    height: auto
}

#Container .mix {
    display: none
}

.fil-btn {
    margin-bottom: 30px;
    transition: all .3s ease-in-out
}

.filter {
    padding: 15px 30px;
    display: inline-block;
    position: relative;
    font-weight: 700
}

.fil-btn .active,
.fil-btn .hover {
    color: #b29040;
    background: 0 0
}

.filter:after {
    transition: all .3s ease-in-out
}

.filter.active:after,
.filter:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 28px;
    height: .5em;
    width: 20px;
    border-top: 1px solid #b29040;
    z-index: 10;
    transition: all .3s ease-in-out
}

.filimg {
    margin-bottom: 30px
}

.see-more {
    background-color: transparent;
    border: .5px solid #4b545771;
    color: #4b5457;
    font-size: 18px;
    padding: 10px;
    padding-right: 37px;
    padding-left: 37px;
    margin-top: 16px
}

.about-images a {
    width: 100%;
    height: 450px;
    position: relative;
    display: block
}

.about-images .image {
    width: 170px;
    height: 49%;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out
}

.about-images .image .slideInDown,
.about-images .image .slideInLeft,
.about-images .image .slideInRight,
.about-images .image .slideInUp {
    transform: rotate(-45deg) !important
}

.about-images .image:nth-child(1) {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 55px 0 0 0;
    position: relative;
    margin: 0 auto 9px auto
}

.about-images .image:nth-child(1) img {
    width: 100%;
    height: 100%;
    transform: scale(1.4) translateY(34px);
    object-fit: cover
}

.about-images .image {
    opacity: .7
}

.about-images :nth-child(2) {
    width: 50%;
    display: inline-block;
    float: left;
    border-radius: 0 0 0 55px
}

.about-images .image:nth-child(2) img {
    transform: scale(1.2, 1) translate(52px, -34px)
}

.about-images :nth-child(3) {
    float: right;
    width: 49%;
    display: inline-block
}

.about-images .image:nth-child(3) img {
    transform: scale(1.2, 1) translate(-52px, -34px)
}

.about-images .image:nth-child(2),
.about-images .image:nth-child(3) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.about-images .image:hover {
    opacity: 1;
    filter: none
}

.about-left h3 {
    color: #000;
    font-size: 28px;
    font-family: Tajawal-Bold, sans-serif;
    margin: 0 0 30px auto
}

.about-left p {
    font-size: 15px
}

.group-right {
    font-family: Tajawal-Bold, sans-serif;
    font-size: 30px;
    color: #000;
    margin: 0 auto;
    position: relative;
    height: 400px;
    width: 100%;
    text-align: center
}

.group-name {
    display: block;
    width: 100%;
    z-index: 9;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%)
}

.group-dtls .serv-bg {
    border-radius: 0 0 0 55px;
    -webkit-box-shadow: -7px 7px 6px 0 rgba(225, 225, 225, .6);
    -moz-box-shadow: -7px 7px 6px 0 rgba(225, 225, 225, .6);
    box-shadow: -7px 7px 6px 0 rgba(225, 225, 225, .6)
}

.group-dtls .all-details {
    font-family: Tajawal-SemiBold, sans-serif;
    line-height: 2;
    margin: 70px auto 0 auto;
    text-align: center;
    font-size: 16px
}



/****************************** Start Member .HTML ****************************************************************/
.member-in{
    
}
.member{
    
}
.member .admin1{
    display: table;
    margin: 0 auto 25px auto;
    text-align: right;
    width: 100%;
}
.member .admin-img {
    float: none;
    width: 100px;
    height: 130px;
    margin: 0 auto;
    display: block;
}
.member .admin-info {
    width: unset;
    float: none;
    height: unset;
    display: block;
    position: static;
}
.member .info-content {
    position: static;
    width: auto;
    height: auto;
    transform: none;
    text-align: right;
    padding: 0;
}
.member .admin-info h3 , .member .admin-info h4{
    white-space: unset;
    overflow: visible;
    text-overflow: unset;
}
.projects{
    margin: 20px 0 0 0;
}
.projects h3 {
    font-size: 18px;
    color: #212121;
    margin: 0 0 15px 0;
}
.projects li{
    margin: 0 4px;
}
.projects li a{
    color: #003467;
    font-family: Tajawal-Bold, sans-serif;
    font-size: 15px;
}
.projects li a:hover , .projects li a:focus{
    color: #b29040;
}
.member p{
    text-align: center;
    font-size: 15px;
}
/****************************** End Member .HTML ****************************************************************/



















#scroll-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 9;
    cursor: pointer;
    background: #414648;
    font-size: 23px;
    color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 -7px 8px 2px rgba(23, 23, 23, .5);
    -moz-box-shadow: inset 0 -7px 8px 2px rgba(23, 23, 23, .5);
    box-shadow: inset 0 -7px 8px 2px rgba(23, 23, 23, .5)
}

#scroll-top:hover {
    background: #b29040;
    -webkit-box-shadow: inset 0 -7px 8px 2px #886f32;
    -moz-box-shadow: inset 0 -7px 8px 2px #886f32;
    box-shadow: inset 0 -7px 8px 2px #886f32
}

.wow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}

.carousel-caption .slideInDown:nth-child(2) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.carousel-caption .slideInDown:nth-child(1) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.carousel-caption .slideInRight {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.title-name .bounceInDown:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.groups .slideInRight:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.groups .slideInRight:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.groups .slideInRight:nth-child(4) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.groups .slideInRight:nth-child(5) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

@media (max-width:1024px) {
    .shape {
        width: 120px;
        height: 120px;
        line-height: 120px
    }

    .step {
        width: 140px
    }

    .step1 {
        left: 0
    }

    .step4 {
        right: 0
    }
    
     
}

@media (max-width:1199px) {
    ul.nav > li > a {
        font-size: 10px
    }
}


@media (max-width:991px) {
    #coin{
        animation: none !important;
    }
    .side-b{
        display: none !important;
    }
    #coin img , #coin{
        position: static !important;
    }
    .navbar {
        padding: 0 10px
    }

    ul.nav > li > a {
        font-size: 10px
    }

    .SearchBox:hover .SearchBox-input {
        width: 100%
    }

    .carousel-caption {
        width: 63%
    }

    .social {
        margin: 0
    }

    .admins,
    .performance {
        margin: 0
    }

    .servs-content {
        position: static;
        transform: none
    }

    .servs {
        height: auto
    }

    .form2 {
        width: 100%
    }
}

@media (max-width:767px) {
    .navbar {
        height: 57px;
        line-height: 51px;
        padding: 0 10px
    }

    .logo-nav {
        width: 100%;
        height: 57px;
        line-height: 55px;
        background-color: transparent;
        border-radius: 0
    }

    ul.nav > li > a {
        color: #fff;
        width: 100%;
        height: 100%;
        display: inline-block
    }

    .logo {
        text-align: center;
        margin-top: -38px
    }

    .left-nav {
        width: calc(100% - 35px);
        float: left;
        height: 100%;
        line-height: 57px
    }

    .right-one {
        display: inline-block;
        float: right;
        width: 30px;
        text-align: center;
        height: 57px;
        position: relative
    }

    .nav-right {
        text-align: center;
        width: 100%;
        display: inline-block
    }

    #nav-icon1 {
        display: block
    }

    .fixd-navbar ul.nav > li > a {
        color: #fff
    }

    .fixd-navbar {
        line-height: 1
    }


    .navy {
        transition: all .6s cubic-bezier(.945, .020, .27, .665);
        transform-origin: bottom right;
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: url(../img/door2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 260px;
        margin: 0;
        z-index: 99999;
        text-align: center;
        opacity: 1;
        transform: rotate3d(1, -1, 1, -180deg)
    }

    .navy:before {
        content: "";
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        position: absolute
    }

    .navbar ul.nav {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        opacity: 1;
        width: 100%;
        display: block
    }

    .navbar ul.nav li {
        display: block;
        margin: 0;
        line-height: 4;
        text-align: center;
        border-radius: 0;
        border-bottom: 1px solid rgba(250, 250, 250, .4)
    }

    .navbar ul.nav li:last-child {
        border: 0 !important
    }

    ul.nav > li:before {
        display: none
    }

    ul.nav > li:after {
        left: 0;
        right: auto;
        margin: 0;
        bottom: 0;
        width: 0%;
        height: 100%;
        opacity: 0;
        border-bottom: 0;
        border-radius: 0;
        background-color: #b29040;
        opacity: 1;
        transform: rotate3d(1, -1, 1, -120deg)
    }

    .nav.cf li.active:after,
    ul.nav > li:hover:after {
        width: 100%;
        transform: none
    }

    .navbar ul.nav li.active,
    .navbar ul.nav li:focus,
    .navbar ul.nav li:hover {
        background-color: #b29040
    }

    .nav.cf li.active a,
    .nav > li > a:focus,
    ul.nav li a:hover,
    ul.nav li:hover > a,
    ul.nav li:hover > i {
        color: #fff !important;
        z-index: 9
    }

    .carousel-caption {
        width: 100%;
        padding: 40px 10px 0 10px;
        text-align: center;
        margin: 0 auto;
        height: auto;
        left: 0;
        right: 0;
        overflow: auto
    }

    .large-txt {
        border-radius: 16px;
        padding: 20px 10px
    }

    .large-txt:after {
        display: none
    }

    .carousel-caption h3 {
        margin: 0 auto 10px auto
    }

    .carousel-caption h4 {
        position: static;
        transform: none;
        width: 100%
    }

    .owl-dots {
        top: 20px;
        right: calc(12% - 12px)
    }

    #owl-demo .item,
    .header,
    .header #owl-demo,
    .slide {
        height: calc(100vh - 57px)
    }

    #owl-demo .owl-next,
    #owl-demo .owl-prev {
        width: 35px;
        line-height: 35px;
        height: 35px;
        font-size: 25px;
        top: 54%
    }

    #owl-demo .owl-next {
        right: 15px
    }

    #owl-demo .owl-prev {
        left: 15px
    }

    .all-sections {
        padding: 25px 0
    }

    .title-name {
        margin: 0 auto 30px auto
    }

    .h2-after {
        padding: 0 0 12px 0
    }

    .width-70,
    .width-90 {
        width: 100%
    }

    .name-bg {
        font-size: 35px !important;
        left: -53px;
        top: -21px
    }

    .footer .form2 button {
        margin: 25px auto 0 auto
    }

    .mail-to,
    .subscribe {
        margin: 16px 0 0 0
    }

    .footer-content {
        padding: 15px 0
    }

    .groups {
        padding: 25px
    }

    .group1 {
        height: 370px;
        position: relative
    }

    .out-hidden p {
        font-size: 13px;
        max-height: unset;
        overflow: visible
    }

    .out-hidden {
        bottom: auto;
        top: 62px;
        max-height: calc(100% - 118px);
        overflow: hidden
    }

    .out-hidden .btn-3 {
        position: fixed;
        bottom: 13px;
        left: 0;
        right: 0
    }

    .group1:hover .app-bg h2 {
        font-size: 23px
    }

    .title-lg .name-bg {
        left: -94px
    }

    #owl-partners .owl-next,
    #owl-partners .owl-prev {
        font-size: 22px
    }

    #owl-partners .owl-prev {
        left: -5px
    }

    #owl-partners .owl-next {
        right: -5px
    }

    .admins {
        padding: 0;
        position: static
    }

    .sec-title {
        position: static;
        width: auto;
        padding: 0 0 0 20px
    }

    .sec-title p {
        transform: none;
        position: static;
        min-width: unset !important
    }

    .admin1 {
        display: block;
        margin: 0 auto 15px auto
    }

    .admin-img {
        float: none;
        margin: 0 auto;
        display: block
    }

    .admin-info {
        width: 100%;
        float: none;
        text-align: center;
        height: auto;
        position: static
    }

    .info-content {
        position: static;
        transform: none;
        padding: 0
    }

    .about .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .js .cd-h-timeline__events {
        width: 100%;
        margin: 20px auto 0 auto
    }

    .call {
        padding: 20px 12px
    }

    .form2 button {
        float: none;
        margin: 10px auto 0 auto
    }

    .serv-bg {
        height: 500px
    }

    .servs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 500px;
        z-index: 9;
        background-color: rgba(61, 61, 61, .7)
    }

    .servs-content {
        position: absolute;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%)
    }

    .servs .serv-body {
        color: #fff
    }

    .servs .serv-body h3 {
        color: #b29040
    }

    .paragraph {
        margin: 0 auto 40px auto
    }

    .paragraph p {
        width: 100%;
        margin: 20px auto 0 auto
    }

    .logo-lg {
        width: 180px
    }

    .about-left {
        margin: 25px 5px 0 5px
    }

    .about-left h3 {
        margin: 0 0 15px auto
    }

    .about-images a {
        height: 350px
    }

    .group-right {
        height: unset;
        position: static;
        margin: 0 auto 15px auto
    }

    .group-name {
        position: static;
        transform: none
    }

    .group-dtls .serv-bg {
        height: 220px !important
    }

    .group-dtls .serv-bg {
        border-radius: 0 0 55px 55px
    }

    .group-dtls .all-details {
        margin: 35px auto 0 auto
    }
}

@media (max-width:480px) {

    h1,
    h2,
    h3,
    h4 {
        font-size: 16px !important;
        line-height: 1.5
    }

    .button1,
    a,
    p,
    select,
    span {
        font-size: 14px !important
    }

    .carousel-caption h3 {
        font-size: 20px !important
    }

    .carousel-caption h4 {
        font-size: 15px !important
    }

    .h2-after {
        font-size: 18px !important
    }

    .footer h3 {
        font-size: 13px !important;
        margin: 0 0 10px 0
    }

    .footer {
        font-size: 12px
    }

    .footer a {
        font-size: 12px !important
    }

    .app-bg h2 {
        font-size: 26px !important
    }

    .group1:hover .app-bg h2 {
        font-size: 20px !important
    }

    .groups .no-padding {
        width: 100% !important
    }

    .group1 {
        margin: 0 auto 15px auto
    }

    .out-hidden p {
        font-size: 13px
    }

    .library .group1 {
        height: 230px;
        margin: 0;
        border: 4px solid
    }

    .admins-scroll {
        position: static;
        max-height: 450px;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-box-shadow: 0 6px 7px 0 rgba(179, 173, 179, 1);
        -moz-box-shadow: 0 6px 7px 0 rgba(179, 173, 179, 1);
        box-shadow: 0 6px 7px 0 rgba(179, 173, 179, 1);
        padding: 15px;
        margin: 0 auto 20px auto
    }

    .admins .col-xs-6 {
        width: 100% !important
    }

    .admin1 {
        display: flex;
        margin: 0 0 25px 0
    }

    .admin-img {
        width: 75px;
        height: 100px;
        float: left
    }

    .admin-info {
        width: calc(100% - 75px);
        float: right;
        text-align: left;
        height: auto;
        position: relative
    }

    .info-content {
        position: absolute;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        padding: 0 0 0 20px
    }

    .services .col-xs-6 {
        width: 100%
    }

    .serv-bg,
    .servs {
        height: 750px
    }
}
