/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@font-face {
    font-family: Tajawal-Regular;
    src: url(../fonts/Tajawal-Regular.ttf)
}

@font-face {
    font-family: Tajawal-Black;
    src: url(../fonts/Tajawal-Black.ttf)
}

@font-face {
    font-family: Tajawal-Bold;
    src: url(../fonts/Tajawal-Bold.ttf)
}

@font-face {
    font-family: Tajawal-ExtraLight;
    src: url(../fonts/Tajawal-ExtraLight.ttf)
}

@font-face {
    font-family: Tajawal-Light;
    src: url(../fonts/Tajawal-Light.ttf)
}

@font-face {
    font-family: Tajawal-SemiBold;
    src: url(../fonts/Tajawal-SemiBold.ttf)
}

.body-over {
    overflow-y: hidden !important
}

/*
::-webkit-scrollbar {
    width: 9px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    background-color: #003ca0;
    outline: 1px solid #fff;
    border-radius: 30px
}
*/

::-moz-selection {
    background: #003ca0;
    color: #fff
}

::selection {
    background: #003ca0;
    color: #fff
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0 !important
}

body {
    font-family: Tajawal-Regular, sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 1.6;
    color: #1d2747;
    direction: rtl;
    overflow-x: hidden !important;
/*    overflow-y: hidden*/
}

.body-overlay {
    background-color: rgba(12, 12, 12, .75);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    opacity: 0;
    display: none
}

.back {
    opacity: 1;
    display: block
}

.back-nav {
    margin-right: 0 !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important
}

.body-over {
    overflow-y: hidden !important
}

.form-group {
    margin-bottom: 25px;
    position: relative
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #eee;
    padding: 9px !important;
    width: 100% !important;
    height: 40px !important;
    margin: 0 !important;
    border-radius: 5px;
    background-color: transparent;
    color: #212121;
    position: relative
}

.form-control ~ .focus-border:after,
.form-control ~ .focus-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #5189c7;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.form-control ~ .focus-border:after {
    top: auto;
    bottom: 0
}

.form-control ~ .focus-border i:after,
.form-control ~ .focus-border i:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #5189c7;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.form-control ~ .focus-border i:after {
    left: auto;
    right: 0
}

.form-control:focus ~ .focus-border:after,
.form-control:focus ~ .focus-border:before {
    left: 0;
    width: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.form-control:focus ~ .focus-border i:after,
.form-control:focus ~ .focus-border i:before {
    top: 0;
    height: 100%;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.form-control:focus {
    border-color: transparent;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: 0 !important
}

.input-lg {
    resize: none;
    height: 75px !important;
    overflow-y: auto;
    font-size: 14px
}

label {
    color: #212121;
    margin: 0 0 6px 0;
    text-align: left
}

.no-padding {
    padding: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-border {
    border: 0 !important
}

#scroll-top,
.form-control,
.owl-carousel .owl-next,
.owl-carousel .owl-next i,
.owl-carousel .owl-prev,
.owl-carousel .owl-prev i,
.scaleimg,
a,
button,
h4,
i,
img,
li,
p,
span,
ul.nav > li:after {
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out
}

a,
a:focus,
a:hover {
    text-decoration: none;
    cursor: pointer;
    outline: 0 !important
}

button {
    border: 0;
    color: #fff
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

li {
    display: inline-block
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.body-overlay.back {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: right !important
}
/************************** Start Loader ************************/
/*
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -o-radial-gradient(#f3f3f3, #27304d);
    background: radial-gradient(#f3f3f3, #27304d);
    z-index: 100;
    height: 100%;
    font-size: 16px;
    z-index: 9999999
}

.in-load {
    -webkit-animation: spin 10s linear infinite;
            animation: spin 10s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70px;
    width: 70px
}

.in-load > div {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0
}

.in-load > div > span {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    -webkit-animation: loading 2s linear infinite;
            animation: loading 2s linear infinite;
    opacity: .5;
    -webkit-box-shadow: 0 0 3px #000;
            box-shadow: 0 0 3px #000
}

.in-load > div:first-child > span {
    background-color: #b29040
}

.in-load > div:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg)
}

.in-load > div:last-child > span {
    background-color: #003467
}

@-webkit-keyframes loading {
    0% {
        border-radius: 0;
        -webkit-transform: scale(1);
                transform: scale(1)
    }

    50% {
        border-radius: 35px;
        -webkit-transform: scale(.5);
                transform: scale(.5)
    }

    100% {
        border-radius: 0;
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@keyframes loading {
    0% {
        border-radius: 0;
        -webkit-transform: scale(1);
                transform: scale(1)
    }

    50% {
        border-radius: 35px;
        -webkit-transform: scale(.5);
                transform: scale(.5)
    }

    100% {
        border-radius: 0;
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}
*/
/************************** End Loader ************************/


/********************** Start Topnav **********************/
.top-nav{
    background-color: #1d2747;
    padding: 6px 80px;
}

/** topnav right **/
.topnav-right{
    
}
.social{
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 0 0 0 10px;
}
.social li {
    display: inline-block;
    margin: 0 0 0 3px
}
.social li:last-child{
    margin: 0;
}
.social li a {
color: #1d2747;
    background-color: #dcdcdc;
    border: 1px solid #fff;
    border-radius: 2px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 15px;
    -webkit-box-shadow: inset 0px 0px 5px 0px #ffffff;
    box-shadow: inset 0px 0px 5px 0px #ffffff;
    display: inline-block;
}
.social li a:focus,
.social li a:hover {
    color: #fff;
    background-color: #5a96d9;
    -webkit-box-shadow: none;
            box-shadow: none;
}


.lang {
    display: inline-block;
    color: #fff;
    margin: 0 4px 0 0
}
.lang:focus,
.lang:hover {
    color: #5a96d9
}
/** topnav left **/

.topnav-left{
    text-align: left;
}
.topnav-left a{
    color: #fff;
    display: inline-block;
    margin: 0 0 0 8px;
}
.topnav-left a:hover , .topnav-left a:focus{
    color: #5a96d9;
}
.topnav-left a:last-child{
    margin: 0;
}
.hidden-xs{
    
}
.call-icon{
    font-size: 16px;
    margin: 0 3px 0 0;
}
/********************** End Topnav **********************/




/********************** Start Navbar **********************/
.back {
    opacity: 1;
    display: block
}

.body-over {
    overflow-y: hidden !important
}
/******************** nav icon ************/
#nav-icon1 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 8px;
    width: 30px;
    vertical-align: middle;
    height: 32px;
    left: 15px;
    margin: 0 auto;
    float: left;
    z-index: 999;
    display: none;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 28px;
    background: #1d2747;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1:hover span,
#nav-icon1:focus span,
#nav-icon1.open span {
    background: #558cc8 !important;
}

#nav-icon1 span:nth-child(1) {
    top: 12px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 24px;
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
}
#nav-icon1.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
}
#nav-icon1.open span:nth-child(3){
    top: 16px;
}
#nav-icon1.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon1.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon1.open {
    position: relative;
    z-index: 999999;
}
/*******************/

.navbar {
    width: 100%;
    border-radius: 0;
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 9999;
    border: 0 !important;
    min-height: auto;
    margin: 0 auto 20px auto;
}

.right-one {
    display: none
}

.nav-right {
    text-align: left
}

.logo-nav {
    width: 115px;
    display: inline-block;
}

.logo-nav img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.navbar ul.nav {
    width: 100%;
    text-align: right;
    padding: 0 20px 0 0;
}

.navy ul.nav > li {
    position: relative;
    display: inline-block;
    position: relative;
    margin: 0 -4px 0 0;
    height: 30px;
    line-height: 30px;
}

.navy ul.nav > li > a , .navy ul.nav > li > button {
    font-size: 15px;
    color: #1d2747;
    padding: 0 10px;
    font-weight: bold;
    background-color: transparent;
    font-family: Tajawal-SemiBold;
}
/*
.navy ul.nav > li:hover > a,
.navy ul.nav > li:focus > a,
*/
.navy ul.nav > li:active > a,
.navy .nav.cf li.active a 
/*
.navy ul.nav > li > button:hover ,
.navy ul.nav > li > button:focus
*/
/*
.navy ul.nav > li:hover > button,
.navy ul.nav > li:focus > button,
.navy ul.nav > li:active > button,
.navy .nav.cf li.active button
*/
{
    background-color: transparent !important;
    color: #fff;
}
.dropbtn{
    position: relative;
}
.navy ul.nav > li:before,
.nav.cf li.active:before ,
.dropbtn:before{
    position: absolute;
    content: "";
    left: 0px;
    top: calc(50% - 10px);
    left: 0;
    width: 15px;
    height: 20px;
    border-left: 1px solid #1a2033;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    z-index: -1;
}

/*.navy ul.nav > li:hover::before,*/
.navy .nav.cf li.active:before,
/*.dropbtn:hover::before,*/
.dropbtn.active:before{
    width: 100%;
    left: 0px;
    background-color: #003ca0;
}

.navy ul.nav > li:last-child:before {
    border-color: #fff;
}
.dropdown-backdrop{
    display: none;
}
/************ navbar left ***********/
.badge-li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    /* line-height: 20px; */
    font-size: 18px;
    position: relative;
}
.badge {
position: absolute;
    top: 2px;
    right: -10px;
    color: #90b9eb;
    background-color: #fff;
    border: 1px solid #95b2ef;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    border-radius: 50%;
}
.badge-li a{
    color: #1d2747;
}
.badge-li a:hover , .badge-li a:focus{
    color: #90b9eb;
}
/****************** Fixed Navbar ******************/

.fixd-navbar {
    position: fixed;
    top: 0;
    padding: 0 8px !important;
    background: #f6f6f6;
    -webkit-box-shadow: 0 5px 5px 0 rgba(229, 229, 229, .8);
    box-shadow: 0 5px 5px 0 rgba(229, 229, 229, .8);
    height: 60px;
    line-height: 60px;
}

.fixd-navbar .logo-nav {
    width: 90px;
}

.fixd-navbar ul.nav > li > a, .fixd-navbar ul.nav > li > button {
    font-size: 13px
}


/**************** Start Mega Menu ***************/
.dropdown {
    position: static !important;
}
.dropdown:before{
    display: none !important;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    right: 0;
    top: 53px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border: 1px solid #ddd;
    overflow-y: scroll;
    max-height: 570px;
    overflow-x: hidden;
}
.fixd-navbar .dropdown-content{
    top: 40px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.column a {
float: none;
    color: #1d2747;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 14px;
    min-height: 75px;
}
.mega-i{
    margin: 0 0 0 4px;
    vertical-align: middle;
    font-size: 16px;
    color: #5289c7;
}
.column a:hover {
    background-color: #5289c7;
    color: #fff !important;
}
.column a:hover .mega-i{
    color: #fff !important;
}
/* Clear floats after the columns */
.dropdown .row:after {
  content: "";
  display: table;
  clear: both;
}

/**************** End Mega Menu ***************/
/************************************* End Navbar **************************/


/********************** Start Header ********************/
.header-overlay {
    background-color: rgba(12, 12, 12, .65);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9
}

.btn-3 {
    position: relative;
    display: block;
    overflow: hidden;
    height: 60px;
    width: 200px;
    border-radius: 12px;
    text-transform: uppercase;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-family: Tajawal-SemiBold, sans-serif;
    font-size: 16px;
    margin: 0;
    z-index: 10;
    border: 2px solid #b29040;
    background-color: #5d8cc7;
}

.btn-3:hover {
    border-color: #003467;
    color: #fff
}

.btn-3:before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #003467;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -o-transition: all .7s cubic-bezier(.77, 0, .175, 1);
    -webkit-transition: all .7s cubic-bezier(.77, 0, .175, 1);
    transition: all .7s cubic-bezier(.77, 0, .175, 1);
    -webkit-box-shadow: 2px 0 14px rgba(0, 0, 0, .6);
            box-shadow: 2px 0 14px rgba(0, 0, 0, .6)
}

.btn-3:after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #f8ce28;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -webkit-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -webkit-box-shadow: 2px 0 14px rgba(0, 0, 0, .6);
            box-shadow: 2px 0 14px rgba(0, 0, 0, .6)
}

.btn-3:hover:before {
    opacity: 1;
    width: 116%
}

.btn-3:hover:after {
    opacity: 1;
    width: 120%
}

.all-sections {
    padding: 50px 0
}

.h2-after {
    color: #17176d;
    font-size: 26px;
    text-align: center;
    margin: 0 auto 25px auto;
    text-transform: capitalize;
    font-family: Tajawal-Bold, sans-serif;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 0 20px 0;
    position: relative
}

.h2-after:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid #18186e;
    width: 46%
}

/*************************************** Start Footer *************************/
.footer {
    padding: 30px 0 10px 0;
    background-color: #1d2747;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #d7d7d7;
}

.new-logo {
    width: 160px;
    margin: 0 0 15px 0;
}

.new-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain
}
.footer .btn-3 {
    background-color: #1a2033;
    border-color: transparent;
    height: 40px;
    line-height: 37px;
    width: 80%;
    max-width: 250px;
    margin: 0 0 15px 0;
    display: block;
}
.footer-content {
    padding: 30px 0
}

.foot1 {
    margin: 0 0 15px 0
}

.footer h3 {
    font-size: 17px;
    text-transform: capitalize;
    font-family: Tajawal-SemiBold, sans-serif;
    margin: 0 0 15px 0;
}

.footer li {
    display: block;
    line-height: 2
}

.footer li a {
    color: #d7d7d7
}

.foot1 ul li span {
    width: 50px;
    display: inline-block
}

.footer li a:focus,
.footer li a:hover {
    color: #5f93cb
}

/*********** social footer **********/
.foot-social li a{
    color: #d7d7d7;
    background-color: #1a2033;
    line-height: 25px;
    height: 25px;
    width: 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
}
.foot-social li a:hover , .footer .social li a:focus{
    background-color: #5f93cb;
}
.foot-social{
    border: none;
    margin: 15px 0 0 0;
}
.foot-social li{
    display: inline-block;
}
/***************/


.copyright {
    padding: 5px 0;
    text-align: center;
    color: #9c9c9c;
    font-size: 13px;
    border-top: 1px solid rgba(135, 135, 135, .6);
}

.copyright span {
    vertical-align: bottom
}

.copyright a {
    margin: 0 4px 0 0;
    color: #b29040
}

.copyright a:focus,
.copyright a:hover {
    color: #003467
}
/*************************************** End Footer *************************/




/******************************************/





/************************************************************************************************************************************************** Start Calender .HTML **********************************************************************************/


/*************************************Start Breadcrumbs **************************/
.breadcrumbs{
    color: #1d2747;
    text-align: right;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 0 80px;
}
.breadcrumbs b{
    font-family: Tajawal-Bold;
}
/*************************************End Breadcrumbs **************************/


/********************** Start Search ********************/
.searching{
    background-color: #5288c4;
    padding: 20px 0;
}
.search{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search .form-width{
    border: 1px solid #fff;
    border-bottom-width: 2px;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    min-width: 140px;
    height: 40px;
    line-height: 40px;
    width: auto;
    margin: 4px;
}
.search .form-width:focus{
    border-color: #233672;
}
.search-for{
    padding: 0 5px;
        border-color: #c1c1c1 !important;
}
.search .form-width .form-control{
    color: #fff;
    border: none !important;
    border-radius: 0 !important;
}
.search .form-width .form-control::-webkit-input-placeholder { /* Edge */
  color: #fff;
    font-size:12px;
}

.search .form-width .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
    font-size:12px;
}

.search .form-width .form-control::-moz-placeholder {
  color: #fff;
    font-size:12px;
}

.search .form-width .form-control::-ms-input-placeholder {
  color: #fff;
    font-size:12px;
}

.search .form-width .form-control::placeholder {
  color: #fff;
    font-size:12px;
}
/***** Start Select2 ****/
.js-select2{
    
}
.select2-container {
    width: 100% !important;
    height: 100% !important;
}
.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 100%;
        text-align: right;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 20px;
    padding-right: 8px;
        line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    left: 1px;
    right: auto;
    top: -2px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #003ca0 transparent;
}
.select2-results {
    text-align: right;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    width: 100%;
    background-color: #003ca0;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #1d2747;
    color: #fff;
        width: 100%;
}
.select2-results__option {
    width: 100%;
    display: block;
}
/***** End Select2 ****/

.srch-to{
    background-color: #fff;
    color: #003ca0 !important;
}
.srch-to svg{
    margin: 0 3px 0 0;
}
.srch-to:hover , .srch-to:focus{
    color: #fff !important
}
/********************** End Search ********************/

/********************** Start filter Section ********************/
.h3-title{
    text-align: center;
    font-family: Tajawal-Bold;
    color: #27304d
}
.all-sections .h3-title {
    margin: 0 auto 35px auto;
}
.filter{
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border: 2px solid #ddd;
    height: 60px;
    line-height: 60px;
    text-align: right;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 30px auto 0 auto;
}
.filter a {
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #1d2747;
    padding: 0 10px;
    font-weight: bold;
    background-color: transparent;
    margin-right: -2px;
    font-family: Tajawal-SemiBold;
    border-left: 2px solid #ddd;
}
.filter a:last-child{
    border: none;
}
.filter a.active{
    border-color: transparent;
}
.filter a:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    border-left: 1px solid #fff;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    z-index: -1;
}

.filter a:hover::before,
.filter a.active:before {
    width: 100%;
    left: 0px;
    background-color: #27304d;
}

.filter a:hover,
.filter a.active {
    color: #fff;
}
.filter a:last-child:before {
    border:none
}
/********************** End filter Section ********************/


/********************** Start All Courses ********************/
.all-courses{
    border-right: 1px dashed #a40102;
    margin: 40px 0;
}
.courses{
    position: relative;
    padding: 60px 25px;
}
/********************** Start courses section ********************/
.date{
    color: #a40102;
    padding: 5px;
    background-color: #fff;
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 99;
    font-family: Tajawal-SemiBold;
    font-size: 16px;
}
.date svg{
    font-size: 18px;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.courses .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}
/********************** Start One course ********************/
.course1{
    border: 2px solid #ddd;
    margin: 0 auto 12px auto;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0px 10px 9px 0px transparent;
    box-shadow: 0px 10px 9px 0px transparent;
    width: 100%;
    position:relative;
}
.course1:hover{
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 10px 9px 0px rgba(181, 179, 181, .6);
    box-shadow: 0px 10px 9px 0px rgba(181, 179, 181, .6);
}
/** Course img ***/
.cs-img{
    position: relative;
    height: 160px;
    border-bottom: 1px solid #ddd;
    display: block;
}
.categ{
    position: absolute;
    background-color: rgba(58, 58, 58, 0.7);
    color: #fff;
    font-size: 14px;
    padding: 5px;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.cs-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/************* Add to Cart **************/
.add-to-cart {
    position: absolute;
    top: 120px;
    left: 0;
    background-color: #5b8ae6;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 50% 0 0;
    z-index: 99;
}
.add-to-cart:hover , .add-to-cart:focus{
    background-color:#f8ce28
}
/** Course Body **/
.cs-body{
    padding: 5px 7px 0 7px;
    position: relative;
    height: 230px;
}
.mini-box .cs-body{
     min-height: 122px;
    height: unset
}
.cs-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cs-body h3{
    
    margin: 0;
    font-size: 16px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.course1 .cs-title a{
    font-family: 'Tajawal-SemiBold';
    width: calc(100% - 50px);
    float: right;
    color: #262f4c;
    vertical-align: middle;
    
    display: inline-block;
    -webkit-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
}
.course1 .cs-title a:hover , .course1 .cs-title a:focus {
    color: #f8ce28;
}
.course1 .cs-title h3{
    -webkit-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
}
.cs-title img{
    float: left;
    width: 35px;
    height: 35px;
}
.percent{
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    text-align: center;
    background-image: url(../img/pers.png);
    float: left;
    background-repeat: no-repeat;
    background-size: 107% 100%;
    color: #fff;
    vertical-align: middle;
    font-family: 'Tajawal-Bold';
}
.details{
    
}
.details li{
    color: #262f4c;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.cs-icon{
    color: #a0c2cc;
    width: 30px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}
.old-price{
    font-size: 13px;
    text-decoration: line-through;
}
.new-price{
    font-family: 'Tajawal-SemiBold';
    color: #f8ce28;
}
.cs-body .btn-3{
    background-color: #5d8cc7;
    max-width: 200px;
    width: 85%;
    height: 35px;
    line-height: 29px;
    margin: 0 auto;
    position: absolute;
    bottom: 6px;
    right: 0;
    left: 0;
    border-color: transparent;
}
/********************** End One course ********************/
/********************** End courses section ********************/
/********************** End All Courses ********************/


/************************************************************************************************************************************************** End Calender .HTML **********************************************************************************/




/************************************************************************************************************************************************** Start Course Details .HTML **********************************************************************************/
/********************** Start Course Titles  ********************/
.course-title{
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 80px;
}
.title-img{
    width: 32px;
    float: right;
    text-align: center;
}
.title-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.title-dtls{
    float: left;
    width: calc(100% - 32px);
    padding: 0 20px 0 0;
}
.title-dtls h3{
    font-family: Tajawal-Bold;
    display: inline-block;
    margin: 0;
    font-size: 22px;
}
.title-dtls h4{
    font-family: Tajawal-SemiBold;
    display: inline-block;
    margin: 0;
    font-size: 19px;
}
.red{
    color: #a40102;
}
.title-dtls .red{
    margin: 5px 0 0 0;
}
/********************** End Course Titles ********************/



/**********************Start Course Instructor ********************/
.cs-instructor{
    background-image: url('../img/course-details.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 0;
    text-align: center;
    position: relative;
}
.cs-instructor:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(168, 168, 168, 0.56);
}
.instructor{
    position: relative;
    z-index: 9;
}
.instructor-img{
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.9);
            box-shadow: 0 0 0 rgba(204, 169, 44, 0.9);
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
}
.instructor-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(81, 137, 199, 1);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(81, 137, 199, 1);
                box-shadow: 0 0 0 0 rgba(81, 137, 199, 1);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
                box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
                box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
.instructor-dtls h3{
    font-family: Tajawal-Bold;
    margin: 10px auto 0 auto;
    font-size: 21px;
}
.instructor-dtls .social{
    margin: 10px auto;
}
.instructor-dtls .social a{
    
}
.anchors{
    margin: 0 auto;
    text-align: center
}
.anchors .btn-3{
     display: inline-block;
    margin: 0 7px;
    border-color: transparent;
    height: 42px;
    line-height: 38px;
    border-radius: 8px;
    font-size: 14px;
    vertical-align: middle;
}
.blue{
    background-color: #5189c7;
}
.dark{
    background-color: #1a2033;
}
/**********************End Course Instructor ********************/

/**********************Start call details********************/
.cs-pdf {
    margin: 50px auto;
}
.course-call{
    background-color: #5189c7;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}
.call1{
    min-height: 85px;
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.call1 .cs-icon{
    display: block;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.call1 p{
    margin: 0;
    font-size: 12px;
}
.call1:hover .cs-icon{
    -webkit-transform: scale(1.1, 1.1)rotate(360deg);
    -ms-transform: scale(1.1, 1.1)rotate(360deg);
        transform: scale(1.1, 1.1)rotate(360deg);
    color: #f8ce28;
}

/**********************Start Course all details********************/
.course-in{
    border: 2px solid #ddd;
    font-size: 15px;
    border-top-width: 1px;
}
.course-in p{
    margin: 0;
}
.sec1{
    padding: 35px 15px;
}
.sec-bg{
    background-image: url('../img/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #fff;
}
.sec1 h3{
    font-family: Tajawal-SemiBold;
    margin: 0 0 15px 0;
}
.goals-in{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.goals{
    width: calc(100% - 300px);
    float: right;
}
.goals li{
    position: relative;
    padding: 0 20px 0 0;
    font-size: 14px;
}
.goals li:before{
content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #a40102;
    position: absolute;
    right: 0;
    top: 5px;
    vertical-align: middle;
}
.goal-img{
    width: 300px;
    float: left;
}
.goal-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
/**** #wanted people ***/


/**** #wanted prof ***/
.row-ul{
    width: 100%;
    float: none;
}
.row-ul li{
    width: 33%;
    display: inline-block;
}
.nasba{
    width: 190px;
}
.cs-pdf .anchors{
    margin: 30px auto 0 auto;
}
/**********************End Course all details********************/

/**********************End call details********************/

/************************************************************************************************************************************************** End Course Details .HTML **********************************************************************************/


/************************************************************************************************************************************************** Start Who Us.HTML **********************************************************************************/
/*********Start Who Us *******/
.who-us{
    background-image: url('../img/about.png');
    height: 250px;
    padding: 0;
}
.who-us h3{
    color: #fff;
    line-height: 250px;
    margin: 0 auto;
}
.cs-instructor.who-us:before{
    display: none;
}
/*********End Who Us *******/

/*********Start About Details *******/
.abouting{
    padding: 30px 0;
}
.icon-h3{
    color: #5189c7;
    font-family: Tajawal-Bold, sans-serif;
}
.abouting img{
    vertical-align: middle;
    margin: 0 0 0 8px;
    max-width: 61px;
}
.blocks{
    margin: 40px 0;
}
.view{
    border: 2px solid #EDEDED;
    padding: 15px 20px;
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 450px;
    margin: 0 auto 15px auto;
    height: 260px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.view:hover{
    background-color: rgba(17, 35, 90, 0.8);
    color: #fff;
}
.view:hover p{
    color: #fff;
}
.view h3{
    margin: 0 0 25px 0;
    font-size: 21px;
}
.view p{
    margin: 0;
}
/*********End About Details *******/

/************************************************************************************************************************************************** End Who Us.HTML **********************************************************************************/



/************************************************************************************************************************************************** Start References.HTML **********************************************************************************/
/*********** Start refrences *********/
.references .goals , .apply-cs .goals{
    width: 100%;
    float: none;
}
.references .goals li , .apply-cs .goals li{
    display: block;
}
.references .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.references .view{
    height: 290px;
    display: block;
    overflow: hidden;
}

.references .view:hover li{
    color: #fff;
}
.references .btn-3 {
    margin: 0 auto;
    border-color: transparent;
    height: 50px;
    line-height: 47px;
    padding: 0;
    border-radius: 15px;
    width: 230px;
}
/*********** End references *********/
/************************************************************************************************************************************************** End References.HTML **********************************************************************************/

/************************************************************************************************************************************************** Start Partners.HTML **********************************************************************************/
/********** Start Breadcrumbs *******/
.img-crumb b{
    font-size: 22px;
}
.img-crumb img{
    max-width: 37px;
    margin: 0 0 0 5px;
}
/********** End Breadcrumbs *******/
/********** Start partners *******/
.partners .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.partners .view{
    width: 100%;
    height: 200px;
    padding: 0;
    text-align: center;
}
.partners .view img{
    width: 95%;
    height: 95%;
    -o-object-fit: contain;
       object-fit: contain;
    text-align: center;
    margin: 0 auto;
}
/********** End partners *******/
/************************************************************************************************************************************************** End Partners.HTML **********************************************************************************/


/************************************************************************************************************************************************** Start Index.HTML **********************************************************************************/

/******************* Start Header **************************/
#owl-demo {
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
}
#owl-demo .owl-item{
    height: calc(100vh - 112px);
    position: relative;
}
#owl-demo .item {
    height: 100%;
}
#owl-demo img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/* Carousel Caption */
.carousel-caption {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    right: 0;
    bottom: unset;
    height: 100%;
    text-shadow: none;
    z-index: 999;
    font-family: 'Tajawal-SemiBold';
    font-size: 23px;
    line-height: 1.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.carousel-caption p{
    margin: 0;
}

/* Owl Nav */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: block;
}

#owl-demo .owl-prev,
#owl-demo .owl-next{
    position: absolute;
    top: calc(50% - 27.5px);
    width: 55px;
    line-height: 57px;
    height: 55px;
    font-size: 35px;
    color: #CCCCCC;
    text-align: center;
    opacity: .7;
    cursor: pointer;
}
#owl-demo .owl-prev {
    right: 30px;
}
#owl-demo .owl-next {
    left: 30px;
}
#owl-demo .owl-prev:hover,
#owl-demo .owl-next:hover {
    opacity: 1
}


/* Dots */
.owl-dots {
    position: absolute;
    bottom: 30px;
    z-index: 999;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
#owl-demo .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: #E3EEF2;
    border-radius: 50%;
    opacity: 1;
}
#owl-demo .owl-dot:hover , #owl-demo .owl-dot.active{
    background-color: #5189c7;
}


/************ Start header text ***************/
.header{
    height: calc(100vh - 112px);
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}
.head-txt{
    margin: 20% 0 0 0;
}
.head-txt h1{
    font-family: Tajawal-SemiBold;
    color: #333;
    max-width: 350px;
    margin: 0 0 20px 0;
}
.head-txt p{
    margin: 0 0 20px 0;
}
.head-txt .btn-3{
    width: 185px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    margin: 0 20% 0 0;
    color: #1d2747;
    border: 1px solid #c9e2f4;
    background: rgb(142,189,234);
    background: -webkit-gradient(linear, right top, left top, from(rgba(142,189,234,1)), color-stop(50%, rgba(104,120,239,1)), to(#c8e4f3));
    background: -o-linear-gradient(right, rgba(142,189,234,1) 0%, rgba(104,120,239,1) 50%, #c8e4f3 100%);
    background: linear-gradient(270deg, rgba(142,189,234,1) 0%, rgba(104,120,239,1) 50%, #c8e4f3 100%);
}
.head-txt .btn-3:hover , .head-txt .btn-3:focus{
    color: #fff;
}
.head-img{
    width: 100%;
    max-height: 400px;
    display: block;
}
.head-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
/************ End header text ***************/



/************* Buttons ***************/
.btn-lg {
    margin: 25px auto 0 auto;
    height: 45px;
    line-height: 45px;
    padding: 0;
    border: 0;
    width: 230px;
}
.btn-lg:focus{
    color: #fff;
}

/************* Start types ***************/
.width-90{
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}
.types{
    
}
#owl-types{
    
}
/*
#owl-types .owl-stage-outer {
    transform: translate(-5px, 0px);
}
*/
.type1{
    border: 1px solid #CCCCCC;
    width: 90%;
    height: 200px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 0 auto;
}
.content-in{
    width: 100%;
    height: 100%;
    font-family: 'Tajawal-SemiBold';
    font-size: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.type1:hover , .type1:focus{
    background-color: #CCCCCC;
}
/* Owl Nav */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: block;
}
#owl-types .owl-prev,
#owl-types .owl-next{
    position: absolute;
    top: calc(50% - 17.5px);
    width: 45px;
    line-height: 45px;
    height: 45px;
    font-size: 35px;
    color: #CCCCCC;
    border: 2px solid #CCCCCC;
    text-align: center;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
}
#owl-types .owl-prev {
    right: -50px;
}
#owl-types .owl-next {
    left: -50px;
}
#owl-types .owl-prev:hover,
#owl-types .owl-next:hover {
    background-color: #5d8cc7;
}
/************* End types ***************/


/************* Start Training ***************/
.training {
    max-height: 350px;
    overflow: hidden;
}
.types{
    
}
.train-blu{
    background-color: #5d8cc7;
    color: #fff;
    position: relative;
    padding: 50px 10px 0 10px;
}
.train-blu .content-in{
    text-align: right
}
#owl-training {
    height: 100%;
}
.train1{
    
}
.train1 h3 {
    margin: 0 0 25px 0;
}
.train1 h4{
    
}
.train1 p{
    font-size: 16px !important;
}
/* Owl Nav */
#owl-training .owl-prev,
#owl-training .owl-next{
    position: absolute;
    top: -42px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    font-size: 25px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    opacity: .7;
    cursor: pointer;
}
#owl-training .owl-prev {
    right: 0;
}
#owl-training .owl-next {
    right: 50px;
}
#owl-training .owl-prev:hover,
#owl-training .owl-next:hover {
    background-color: #f8ce28;
}
/*** training img ***/
.train-img{
    position: relative;
    overflow: hidden;
}
.train-img:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.7);
}
.train-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/************* End Training ***************/

/************************************************************************************************************************************************** End Index.HTML **********************************************************************************/

.trainer{
    padding: 6px;
}
.trainer .cs-body{
    height: 110px;
}
.trainer .cs-title{
    display: block;
}
.trainer .cs-title a{
    width: 100%;
    float: none;
    display: block;
}
.trainer .cs-title h3{
    line-height: 1.5;
}
.trainer .cs-body p{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 15px;
    margin: 5px 0 0 0;
}

.trainer .foot-social{
    padding: 0;
    margin: 8px 0 0 0;
}
.trainer .foot-social a{
    border: 1px solid transparent;
    color: #fff ;
}
.facebook{
     background-color: #385997 !important;
}
.facebook:hover , .facebook:focus{
    color: #385997 !important;
    border-color: #385997 !important;
}
.twitter{
     background-color: #28AAE1 !important;
}
.twitter:hover , .twitter:focus{
    color: #28AAE1 !important;
    border-color: #28AAE1 !important;
}
.instagram{
     background-color: #B53DA5 !important;
}
.instagram:hover , .instagram:focus{
    color: #B53DA5 !important;
    border-color: #B53DA5 !important;
}
.linked{
     background-color: #0B78B7 !important;
}
.linked:hover , .linked:focus{
    color: #0B78B7 !important;
    border-color: #0B78B7 !important;
}
.trainer .foot-social a:hover , .trainer .foot-social a:focus{
    background-color: transparent !important;
}
/************************************************************************************************************************************************** Start Trainers.HTML **********************************************************************************/


/************************************************************************************************************************************************** End Trainers.HTML **********************************************************************************/


/************************************************************************************************************************************************** Start Apply.HTML **********************************************************************************/
/****** Start Grid Show *****/
.grid{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
}
.grid .cs-img{
    float: right;
    padding: 5px;
    width: 300px;
}
.grid .categ {
    top: 5px;
    left: 0;
    margin: 0 auto;
    width: calc(100% - 10px);
}
.grid .cs-body{
    height: auto;
    float: left;
    width: calc(100% - 300px);
}
.grid .cs-title h3{
    -o-text-overflow: visible;
       text-overflow: visible;
    font-family: 'Tajawal-Bold';
    -o-text-overflow: unset;
       text-overflow: unset;
    overflow: visible;
    white-space: unset;
    display: inline-block;
}
.grid .percent{
    float: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
.grid .cs-body ul li{
    display: inline-block;
    width: 49%;
    overflow: visible;
    white-space: unset;
    -o-text-overflow: unset;
       text-overflow: unset;
    vertical-align: text-top;
}
/****** End Grid Show *****/
/****** Start Apply *****/
.apply-cs{
    
}
.apply{
    margin: 25px auto 0 auto;
    padding: 45px 15px 20px 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.form-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-data .form-control::-webkit-input-placeholder { /* Edge */
  color: #d7d7d7;
    font-size:12px;
}

.form-data .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d7d7d7;
    font-size:12px;
}

.form-data .form-control::-moz-placeholder {
  color: #d7d7d7;
    font-size:12px;
}

.form-data .form-control::-ms-input-placeholder {
  color: #d7d7d7;
    font-size:12px;
}

.form-data .form-control::placeholder {
  color: #d7d7d7;
    font-size:12px;
}
.apply .form-data .form-group{
    float: left;
    width: calc(100% - 100px) !important;
}
.apply label{
    float: right;
    width: 100px;
    text-align: right;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.apply .btn-3{
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin: 15px auto 0 auto;
}
/****** End Apply *****/
/***************** Radio **************************/
.radio-list {
    margin: 0 0 25px 0;
}
.radio-list .rad{
    display: inline-block;
    position: relative;
  padding: 0 22px 0 0 ;
        margin: 0 0 0 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    width: unset;
    float: none;
    font-size: 14px;
}
.rad input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.rad .checkmark {
  position: absolute;
  top: 3px;
  right: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
}
.rad:hover input ~ .checkmark {
  background-color: #ccc;
}
.rad input:checked ~ .checkmark {
  background-color: #0695db;
}
.rad .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.rad input:checked ~ .checkmark:after {
  display: block;
}
.rad .checkmark:after {
    top: 5px;
    right: 5px;
    width: 7px;
    height: 7px;
	border-radius: 50%;
	background: white;
}
/*************** new modifications ***************/
.r-title{
    font-family: Tajawal-Bold;
    font-size: 22px;
    margin: 0 0 20px 0;
    text-align: right;
        display: block;
}
.regs-right{
    
}
.regs-right .form-data , .regs-left .form-data {
    display: block;
}
.regs-right label {
    float: none;
    width: auto;
}
.regs-right .form-data .form-group , .regs-left .form-data .form-group {
    float: none;
    width: 100% !important;
}
/**** Left ***/
.orders{
    border-collapse: separate;
    width: 100%;
    font-family: Tajawal-SemiBold;
    border-radius: 5px;
}
.orders,.orders td,.orders th {
  border: 1px solid rgba(218, 218, 218, 0.4);
    text-align: right;
}
.orders td,.orders th{
    padding: 6px;
}
.num-orders{
    text-align: left;
    float: left;
}
.for-edit {
    margin: 20px 0;
}
.for-edit .form-control{
    color: #5d8cc7;
    font-family: Tajawal-SemiBold;
}
.for-edit .form-control::-webkit-input-placeholder { /* Edge */
  color: #5d8cc7;
    font-family: Tajawal-SemiBold;
}

.for-edit .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #5d8cc7;
    font-family: Tajawal-SemiBold;
}

.for-edit .form-control::-moz-placeholder {
  color: #5d8cc7;
    font-family: Tajawal-SemiBold;
}

.for-edit .form-control::-ms-input-placeholder {
  color: #5d8cc7;
    font-family: Tajawal-SemiBold;
}

.for-edit .form-control::placeholder {
  color: #5d8cc7;
    font-family: Tajawal-SemiBold;
}
.for-edit .edit-nw{
    background-color: #ccc;
    border-radius: 15px;
    padding: 4px 6px;
    color: #333;
}
.for-edit .edit-nw svg{
    margin: 0 0 0 4px
}
.for-edit .edit-nw:hover , .for-edit .edit-nw:focus{
    background-color: #5d8cc7;
    color: #fff;
}
.regs-left .form-data .form-group{
    margin-bottom: 15px;
}
.for-edit .edit-nw{
    margin: 0 auto 15px auto;
}
/********************************************************************/
/************************************************************************************************************************************************** End Apply.HTML **********************************************************************************/


/************************************************************************************************************************************************** Start Blog.HTML **********************************************************************************/
/****** Start Search *******/
.form-lg .form-width{
    border-radius: 6px;
}
.form-lg .form-width:first-child{
    width: calc(100% - 240px);
}
.form-lg .form-control{
    padding: 9px 30px 9px 9px !important;
    background-color: transparent;
    color: #fff;
}
.form-lg .form-data{
    display: block;
    
}
.form-lg .form-control::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.form-lg .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.form-lg .form-control::-moz-placeholder {
  color: #fff;
}

.form-lg .form-control::-ms-input-placeholder {
  color: #fff;
}

.form-lg .form-control::placeholder {
  color: #fff;
}
.form-lg .form-control ~ .focus-border i:after, .form-lg .form-control ~ .focus-border i:before ,
.form-lg .form-control ~ .focus-border:after, .form-lg .form-control ~ .focus-border:before{
    background-color: #f8ce28;
}
.form-lg .srch1{
    position: absolute;
    right: 8px;
    top: 0;
    color: #fff;
    z-index: 9;
    font-size: 18px;
}
/****** End Search *******/

/****** Start All Blogs *******/
.blog1 .cs-title a{
    color: #578dc9;
    width: 100%;
}
.blog1 .cs-body p{
    margin: 0;
    height: calc(100% - 94px);
    overflow: hidden;
}
/****** End All Blogs *******/
/****** Start Related Blogs *******/
.related h3{
    color: #333;
    margin: 0 0 25px 0;
    font-size: 22px
}
.sm-blog{
    border: 1px solid #ddd;
    margin: 0 auto 12px auto;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0px 10px 9px 0px transparent;
    box-shadow: 0px 10px 9px 0px transparent;
    display: block;
    color: #333;
    padding: 12px 6px;
}
.sm-blog:hover {
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 10px 9px 0px rgba(181, 179, 181, .6);
    box-shadow: 0px 10px 9px 0px rgba(181, 179, 181, .6);
}
.sm-blog p{
    max-height: 110px;
    overflow: hidden;
    margin: 0;
}
.sm-blog:hover p{
    color: #cfac24;
}
.sm-blog h4{
    color: #578dc9;
    margin: 12px 0 0 0;
}
.sm-blog h4 img{
    width: 27px;
    vertical-align: middle;
    margin: 0 0 0 7px;
}
/****** End Related Blogs *******/

/************************************************************************************************************************************************** End Blog.HTML **********************************************************************************/

/************************************************************************************************************************************************** Start References-Single.HTML **********************************************************************************/
.refr{
    background-image: url('../img/Photo-6_handshake2.png');
}
/***** Start Refrence Details *******/
.new-colors{
    
}
.new-colors .h3-title{
    color: #5f93cb;
    margin: 0 auto 25px auto;
}
.new-colors .apply{
    
}
.new-colors p{
    font-size: 16px;
}
/***** End Refrence Details*******/
/************************************************************************************************************************************************** End References-Single.HTML **********************************************************************************/


/************************************************************************************************************************************************** Start Contact.HTML **********************************************************************************/
#map{
    width: 100%;
    height: 300px; 
}
/***** Contact Details ********/
.contacting .red{
    margin: 0 0 22px5 0;
}
.call-info{
    
}
.call-info li{
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 2;
}
.call-info li a{
    color: #333;
}
.call-info li a:hover , .call-info li a:focus{
    color: #5d8cc7;
}
.deal-icon{
    font-size: 18px;
    color: #5d8cc7;
    width: 32px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
/***** Contact Form ********/
.apply.sm-form{
    padding: 0;
    border: 0;
    margin:0;
    border-radius: 0;
}
.input-lg {
    resize: none;
    height: 100px !important;
    overflow-y: auto !important;
}
/************************************************************************************************************************************************** End Contact.HTML **********************************************************************************/


/******************* Start Pagination *******************/
.pagination{
    margin: 25px auto;
    display: table;
}
.pagination li{
    display: inline-block;
}
.pagination>li>a, .pagination>li>span {
    float: none;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    color: #5d8cc7;
    margin: 0 4px;
    background-color: #fff;
    border: 1px solid #5d8cc7;
    border-radius: 50%;
    font-size: 16px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 50%;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 50%;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #23527c;
    border-color: #23527c;
}

/******************* End Pagination *******************/
/******************************************************/

/*********** Start Index.html >> New Training methods *****************/
.train-methods{
    background-image: url('../img/production.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.train-methods:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 98, 143, 0.5);
}
.train-methods .h3-title{
    color: #fff;
}
.all-methods{
    position: relative;
    z-index: 9
}
.method1{
    color: #333;
    background-color: #fff;
}
.method1 .cs-img {
    position: static;
    height: 70px;
    border-bottom: none;
    text-align: center;
    padding: 5px;
}
.method1 .cs-img img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
}
.method1 .cs-body {
    padding: 5px 7px 22px 7px;
    height: 265px;
}
.method1 .cs-body h3{
    width: 100%;
    text-align: center;
    line-height:2.3;
    font-family: Tajawal-SemiBold;
}
.method1 .cs-body p {
    height: calc(100% - 36px);
}
/*********** End Index.html >> New Training methods *****************/




/*********** Index.html >> Start Subscribe **********/
.subscribe{
    background-image: url('../img/subscribe.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sub-content{
    width: 60%;
}
.sub-content h2{
    color: #5d8cc7;
    font-size: 27px;
    font-family: Tajawal-SemiBold;
    line-height: 1.6;
}
.subsc{
    padding: 0
}
.subsc .form-group{
    margin: 0;
}
.subsc .form-control {
    border: 2px solid #003467;
}
.subsc .btn-3{
    background-color: #003467;
    margin: 0;
}
.subsc .btn-3:before{
    background-color: #5d8cc7
}
/*********** Index.html >> End Subscribe **********/



/*********** Index.html >> Start Clients **********/
#owl-clients , #owl-partners{
    padding: 0 0 50px 0;
}
#owl-clients .type1 , #owl-partners .type1{
    height: 150px;
}
#owl-clients .type1 img{
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
#owl-clients .owl-nav.disabled , #owl-partners .owl-nav.disabled{
    display: none !important;
} 
#owl-clients .owl-dots , #owl-partners .owl-dots{
    display: block !important;
    bottom: 0;
}  
#owl-clients .owl-dot , #owl-partners .owl-dot {
    width: 40px;
    height: 6px;
    border-radius: 7px;
    background-color: #c6c5c5;
    display: inline-block;
    margin: 0 4px;
}
#owl-clients .owl-dot.active , #owl-partners .owl-dot.active{
    background-color: #a40102;
}
/*********** Index.html >> End Clients **********/


/*********** Index.html >> Start Choose Us **********/
.choose-us{
    background-image: url('../img/why-us.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.chose-content{
    width: 60%;
    float: left;
}
.chose-content h3{
    font-family: Tajawal-SemiBold;
    margin: 0 0 22px 0;
}
.chose-content ul{

}
.chose-content li{
    color: #4a76ad;
    display: block;
}
.circle-ul li{
    position: relative;
    padding: 0 15px 0 0;
    font-size: 16px;
}
.circle-ul li:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #a40102;
    position: absolute;
    right: 0;
    top: 8px;
}
/*********** Index.html >> End Choose Us **********/


/*********** Index.html >> Start methodology **********/
.methodology{
    width: 100%;
    display: block;
    max-height: 500px;
}
.methodology img{
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.methodo .h3-title{
    color: #5189c7;
}
.methodo .circle-ul{
    display: inline-block;
    width: 100%;
}
.methodo li{
    width: 50%;
    float: right;
    display: inline-block;
    margin: 0 0 7px 0;
    font-family: Tajawal-SemiBold;
}
/*********** Index.html >> End methodology **********/


/*********** Index.html >> Start confirmation **********/
.confirm{
    text-align: center;
    margin: 0 auto;
    max-width: 65%;
}
.confirm img{
    max-width: 60px;
    max-height: 60px;
}
.green{
    font-size: 22px;
    color: #25ae88;
    font-family: Tajawal-SemiBold;
    margin: 15px auto 25px auto;
}
.confirm p{
    font-family: Tajawal-SemiBold;
    font-size: 15px;
}
.confirm .btn-3{
    width: 200px;
    margin: 25px auto 0 auto;
}
/*********** Index.html >> End confirmation **********/




/********** Start Shopping Cart .HTML ***********************/
/*Start cart-section*/

.talab1 {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 25px;
    margin: 0 auto 20px auto;
    border: 1px solid #CACACA;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
    box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
    border-radius: 35px;
    text-align: right;
}

.talab1:hover,
.talab1:focus {
    background-color: #eee;
}
.talab-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.scaleimg:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.cart-section .talab1 {
    position: relative;
}

.cart-section .talab1 .cancel {
    padding: 0;
    border: 0;
    font-weight: bold;
    background-color: transparent;
    color: #F29090;
    float: right;
    font-size: 18px;
    position: absolute;
    top: calc(50% - 14px);
    right: 0;
    color: #212121;
}

.cart-section .talab1 .cancel:hover,
.cart-section .talab1 .cancel:focus {
    color: #F29090
}

.border-bottom {
    border-bottom: 1px solid #D1D1D1;
    padding: 25px 0 50px 0;
}

.tlb-right {
    display: inline-block;
    width: 100%;
}
.talab-img {
    width: 80px;
    height: 80px;
    float: right;
    overflow: hidden;
    margin: 0 0 0 8px;
    background-color: #F2F2F2;
}
.cart-section .talab-img {
    width: 65px;
    height: 65px;
    margin: 0 20px 0 8px;
    text-align: center;
    display: inline-block
}

.small-b {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    margin: 0;
    font-size: 13px;
    float: left;
    width: calc(100% - 95px);
    position: relative;
    top: 0;
}


.cart-section .talab1 {
    padding: 25px 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.cart-section .talab-img img {
    width: 100px;
    height: 100px;
}

.titles {
    padding: 25px 0;
}

.cart-section .code {
    border-top: 0;
}

.small-p {
    font-size: 12px;
    color: #a79d9d;
}

.cart-section .total {
    float: none;
    font-weight: bold;
}

.all-detls h3 {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.all1.border-bottom,
.all1 {
    padding: 25px 0 40px 0;
    text-align: right;
}

.all-detls h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.all-detls .prices.total {
    margin: 0;
    padding: 0;
}


/*** Start Quantity ***/
.quant .value-button {
    display: inline-block;
    width: 25px;
    font-size: 20px;
    height: 25px;
    line-height: 25px;

    text-align: center;
    vertical-align: middle;
    background: #fff;
    color: #212121;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    position: absolute;
}

.quant .value-button:hover,
.quant .value-button:focus {
    cursor: pointer;
    background-color: #003ca0;
    color: #fff;
}

.quant #increase {
    /*    margin: 19px 0 0 -4px;*/
    /*    border-right: 1px solid #212121;*/
    border-bottom: 1px solid #212121;
    right: 0;
    top: 0;
}

.quant #decrease {
    /*    margin: -30px 0 0 -29px;*/
    border-top: 1px solid #212121;
    /*
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
*/
    bottom: 0;
    right: 0;
}

.quant #input-wrap {
    margin: 0px;
    padding: 0px;
}

.quant input.number{
    text-align: center;
    border: none;
    margin: 0px;
    width: calc(100% - 25px);
    height: 100%;
    line-height: 100%;
    color: #212121;
    font-size: 18px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #212121;
}

.count {
    margin: 0px;
    width: 70px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #212121;
    position: relative;
    display: inline-block;
}

.quant input[type=number]::-webkit-inner-spin-button,
.quant input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*** End Quantity ***/
.square-an {
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 215px;
    height: 55px;
    line-height: 48px;
    display: inline-block;
    float: left;
    border: 1px solid #5189c7;
    color: #5189c7;
    height: 40px;
    line-height: 37px;
    font-size: 15px;
}
.square-an svg {
    padding-right: 7px;
    font-size: 20px;
    vertical-align: middle;
}
.square-an:hover svg {
    margin-right: 25px;
}
.carts .square-an {
    border: 1px solid #5189c7;
    color: #5189c7;
    height: 40px;
    line-height: 37px;
    font-size: 15px;
}

.carts .square-an:hover,
.carts .square-an:focus {
    background-color: #5189c7 !important;
    color: #fff !important;
}
/*** modal***/
.modal {
    z-index: 99999;
}
.modal-dialog {
    z-index: 99999999999999999999;
    max-width: 600px;
    margin: 30px auto;
    min-width: 300px;
    width: auto;
}
.close{
    float: left;
}
/*End cart-section*/

/********** End Shopping Cart .HTML ***********************/


#scroll-top {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    background: #27304d;
    font-size: 23px;
    color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 -7px 8px 2px rgba(23, 23, 23, .5);
    box-shadow: inset 0 -7px 8px 2px rgba(23, 23, 23, .5)
}

#scroll-top:hover {
    background: #568cc8;
    -webkit-box-shadow: inset 0 -7px 8px 2px #568cc8;
    box-shadow: inset 0 -7px 8px 2px #568cc8
}

.wow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}

.carousel-caption .slideInDown:nth-child(2) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.carousel-caption .slideInDown:nth-child(1) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}


@media (max-width:1024px) {

}



@media (max-width:1199px) {
    /************************************************************************************************************************************************** Start Index.HTML **********************************************************************************/
    #owl-types .owl-stage-outer {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
 /************************************************************************************************************************************************** End Index.HTML **********************************************************************************/
}

@media (max-width:991px) {
    .navbar ul.nav {
        padding: 0 10px 0 0;
    }
    .navy ul.nav > li > a, .navy ul.nav > li > button {
        font-size: 13px;
        padding: 0 6px;
    }
        .column a {
        padding: 10px;
    }
    .dropdown-content{
        width: 100%;
    }
/************************************************************************************************************************************************** Start Calender .HTML **********************************************************************************/
    
    /********************** Start filter Section ********************/
    .filter {
        height: auto;
        line-height: normal;
        width: auto;
    }
    /********************** End filter Section ********************/
    
/************************************************************************************************************************************************** Start Calender .HTML **********************************************************************************/
    
    
    /************************************************************************************************************************************************** Start Course Details .HTML **********************************************************************************/
    .row-ul li {
    width: 32%;
    }
 /************************************************************************************************************************************************** End Course Details .HTML **********************************************************************************/
    
    
/************************************************************************************************************************************************** Start Who Us.HTML **********************************************************************************/
    .view{
        width: 100%;
    }
    .view p {
    font-size: 12px;
}
/************************************************************************************************************************************************** End Who Us.HTML **********************************************************************************/
    
     /************************************************************************************************************************************************** Start Apply.HTML **********************************************************************************/
    .grid .cs-img {
        width: 180px;
    }
    .grid .cs-body {
        width: calc(100% - 180px);
    }
    
    /************************************************************************************************************************************************** End Apply.HTML **********************************************************************************/
    
    /*********** Index.html >> Start Subscribe **********/
    .subscribe {
        background-position: 41% 100%;
    }
    /*********** Index.html >> End Subscribe **********/

}

@media (max-width:767px) {
    .all-sections {
    padding: 20px 0;
}
    /********************** Start Topnav **********************/
    .top-nav {
        padding: 5px 20px;
    }
    /********************** End Topnav **********************/

    .navbar {
        height: 57px;
        line-height: 57px;
        padding: 0 10px
    }

    .logo-nav {
        width:80px
    }
    .badge {
        top: 0;
        right: -25px;
    }
    .navy ul.nav > li > a , .navy ul.nav > li > button{
        color: #fff;
        width: 100%;
        height: 100%;
        display: inline-block
    }
    .dropdown-content{
        width: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        z-index: 99999;
            top: 87px;

    }
    .column a {
        padding: 6px;
        min-height: unset;
    }
    ul.dropdown-menu {
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 87%;
    }
    .logo {
        text-align: center;
        margin-top: -38px
    }

    .left-nav {
        width: calc(100% - 35px);
        float: right;
        height: 100%;
        line-height: 57px
    }

    .right-one {
        display: inline-block;
        float: left;
        width: 30px;
        text-align: center;
        height: 57px;
        position: relative
    }

    .nav-right {
        text-align: right;
        width: 100%;
        display: inline-block;
            padding: 0px 15px 0 0;
    }

    #nav-icon1 {
        display: block
    }

    .fixd-navbar ul.nav > li > a {
        color: #fff
    }

    .fixd-navbar {
        height: 47px;
    line-height: 47px;
    }
    
.fixd-navbar .logo-nav {
    width: 60px;
}
    .fixd-navbar #nav-icon1 {
    top: 6px;
    }
    .navy {
        -webkit-transition: all .6s cubic-bezier(.945, .020, .27, .665);
        -o-transition: all .6s cubic-bezier(.945, .020, .27, .665);
        transition: all .6s cubic-bezier(.945, .020, .27, .665);
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
                transform-origin: bottom left;
        position: fixed;
        bottom: 0;
        right: 0;
        background-image: url(../img/nav-xs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 260px;
        margin: 0;
        z-index: 99999;
        text-align: center;
        opacity: 1;
        -webkit-transform: rotate3d(1, 1, 1, 180deg);
                transform: rotate3d(1, 1, 1, 180deg)
    }

    .navy:before {
        content: "";
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 48, 77, .6);
        position: absolute
    }

    .navbar ul.nav {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
        width: 100%;
        display: block
    }

    .navbar ul.nav li {
        display: block;
    margin: 0;
    line-height: 3;
    height: auto;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid rgba(250, 250, 250, .4);
    }

    .navbar ul.nav li:last-child {
        border: 0 !important
    }

    ul.nav > li:before {
        display: none
    }

    ul.nav > li:after {
        right: 0;
        left: auto;
        margin: 0;
        bottom: 0;
        width: 0%;
        height: 100%;
        opacity: 0;
        border-bottom: 0;
        border-radius: 0;
        background-color: #b29040;
        opacity: 1;
        -webkit-transform: rotate3d(1, 1, 1, 120deg);
                transform: rotate3d(1, 1, 1, 120deg)
    }

    .nav.cf li.active:after,
    ul.nav > li:hover:after {
        width: 100%;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none
    }

    .navbar ul.nav li.active,
    .navbar ul.nav li:focus,
    .navbar ul.nav li:hover,
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
        background-color: #b29040
    }

    .nav.cf li.active a,
    .nav > li > a:focus,
    ul.nav li a:hover,
    ul.nav li:hover > a,
    ul.nav li:hover > i {
        color: #fff !important;
        z-index: 9
    }

   /*************************************End Navbar **************************/
    
    
    /************ Start header text ***************/
    .head-txt {
        margin: 0 auto;
        text-align: center;
    }
    .head-txt h1{
        max-width: unset;
        margin: 0 0 10px 0;
    }
    .head-txt p {
        margin: 0 0 10px 0;
    }
    .head-txt .btn-3{
        margin: 0 auto;
    }
    .head-img {
        max-height: 300px;
        max-width: 320px;
        margin: 20px auto 0 auto;
    }
    .header {
        min-height: calc(100vh - 112px);
        height: auto
    }
    /************ End header text ***************/

    
    
   /*************************************Start Footer **************************/
    .inline-xs li{
        display: inline-block
    }
    .inline-xs li a{
        border-left: 1px solid;
        padding: 0 0 0 2px;
        font-size: 12px;
    }
    .footer {
        padding: 0px 0 10px 0;
    }
    .foot1 {
        margin: 0 0 8px 0;
    }
    .footer .social{
        margin: 0;
    }
    .footer h3 {
        margin: 0 0 5px 0;
    }
    .new-logo {
        width: 100px;
    }
    .footer .btn-3 {
        width: 90%;
    }
   /*************************************End Footer **************************/
    
    
   /*************************************Start Breadcrumbs **************************/
    .breadcrumbs {
        margin: 10px 0;
        padding: 0 20px;
    }
    /*************************************End Breadcrumbs **************************/

    
/************************************************************************************************************************************* Start Calender .HTML ***********************************************************************/
    
    /********* Start Search ******/
    .searching {
        padding: 10px 4px;
    }
    .search {
        width: 100%;
    }
    .search .form-width {
        min-width: auto;
            margin: 2px;
    }
    .srch-to {
        padding: 0 3px;
    }

    /********** End Search ***********/
    /********************** Start filter Section ********************/
    .filter a{
       padding: 0 3px;
        font-size: 12px;
    }
    .courses .row {
    display: block;
    }
    /********************** End filter Section ********************/
/**************************************************************************************************************************************** End Calender .HTML *************************************************************************/
    
    
    /************************************************************************************************************************************************** Start Course Details .HTML **********************************************************************************/
    .course-title {
    padding: 15px 30px;
}
    .title-dtls {
    padding: 0 9px 0 0;
}
    .instructor-dtls h3 {
    margin: 6px auto 0 auto;
}
    .anchors .btn-3 {
    width: 45%;
    margin: 0 2px;
    }
    .call1 {
    min-height: 100px;
    }
        .cs-pdf {
    margin: 30px auto;
}
    .sec1 {
    padding: 16px 6px;
}
    .goals-in{
        display: block;
    }
    .goals{
    width: 100%;
    float: none;
}
    .goal-img{
        width: 150px;
    }
    .nasba{
        float: none;
        margin: 10px auto 0 auto;
    }  
    .row-ul li {
    width: 49%;
        font-size: 12px;
        padding: 0 11px 0 0;
    }
    .row-ul li:before{
        width: 10px;
        height: 10px;
    } /************************************************************************************************************************************************** End Course Details .HTML **********************************************************************************/
    
    /************************************************************************************************************************************************** Start Who Us.HTML **********************************************************************************/
    .who-us {
        height: 150px;
    }
    .who-us h3 {
        line-height: 150px;
        margin: 0 auto;
        margin: 0 auto;
    }
    .view{
        width: 95%;
        margin: 0 auto 15px auto;
        height: auto;
    }
    .view p {
    font-size: 14px;
}
    .view h3 {
    margin: 0 0 15px 0;
}
    .blocks {
    margin: 20px 0;
}
/************************************************************************************************************************************************** End Who Us.HTML **********************************************************************************/
    
    /************************************************************************************************************************************************** Start Index.HTML **********************************************************************************/
    
   .train1 h3 {
        margin: 0 0 15px 0;
    }
    .train-blu{
        min-height: unset !important;
        padding: 50px 10px 10px 10px 
    } 
   
   .training {
    max-height: unset;
    }
       .train-methods .cs-body{
        height: auto !important;
        overflow: auto !important;
    } /************************************************************************************************************************************************** End Index.HTML **********************************************************************************/
    
   /************************************************************************************************************************************************** Start Apply.HTML **********************************************************************************/
    .form-data {
        display: block;
    }
   .apply label {
    float: none;
           margin: 0 0 10px 0;
    width: 100%;
    }
    .apply .form-data .form-group {
        float: none;
        width: 100% !important;
    }
    .apply .btn-3{
        float: none;
        margin: 0 auto;
    }

    /************************************************************************************************************************************************** End Apply.HTML **********************************************************************************/
    
    /************************************************************************************************************************************************** Start Blog.HTML **********************************************************************************/
    .related{
        margin: 30px 0 0 0;
    }
/************************************************************************************************************************************************** End Blog.HTML **********************************************************************************/
    
    /************************************************************************************************************************************************** Start Contact.HTML **********************************************************************************/
    .call-info {
        margin: 0 0 17px 0;
    }
    .contacting .red {
        margin: 0 0 17px 0;
    }
    #map{
        height: 220px;
    } /************************************************************************************************************************************************** End Contact.HTML **********************************************************************************/
    
    /*********** Index.html >> Start Subscribe **********/
    .subscribe {
        position: relative;
    }
    .sub-content {
        width: 100%;
        position: relative;
        z-index: 9;
    }
    .sub-content h2 {
        font-size: 21px;
        line-height: initial;
        text-align: center;
    }
    .subsc {
    margin: 16px auto;
    padding: 0;
}
    .subsc .form-group {
    max-width: 320px;
            margin: 0 auto;
}
    .subsc .btn-3 {
    margin: 15px auto 0 auto;
}
    /*********** Index.html >> End Subscribe **********/

    /*********** Index.html >> Start Choose Us **********/
    .chose-content {
        width: 100%;
        float: none;
        position: relative;
        z-index: 9;
    }
    .choose-us{
        position: relative;
    }
    .choose-us:before, .subscribe:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,.7);
    }
    /*********** Index.html >> End Choose Us **********/
    
    
    /*********** Index.html >> Start methodology **********/

    .methodo .circle-ul{
        display:block;
    }
    .methodo li{
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    /*********** Index.html >> End methodology **********/

    /*********** Index.html >> Start confirmation **********/
    .confirm{
        max-width: 100%;
    }
    /*********** Index.html >> End confirmation **********/

    
    /************** Cart . HTML **************/
    .cart-section .talab1 .cancel {
        right: 0;
    }

    .carts .count {
        width: 50px;
        height: 40px;
        line-height: 40px;
    }

    .quant .value-button {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .quant input.number {
        width: calc(100% - 20px);
    }

    .tb-title {
        font-size: 11px !important;
        font-weight: bold;
    }

    .small-b {
        display: block;
        float: none;
        width: 100%;
        position: static;
        margin: 0 19px 0 0;
    }

    .cart-section .talab-img {
        margin: 0 20px 7px 8px;
        float: none;
    }

    .carts .square-an {
        float: none;
        margin: 20px auto 0 auto;
    }

}

@media (max-width:599px) {
   /************************************************************************************************************************************************** Start Index.HTML **********************************************************************************/
    #owl-types .owl-prev, #owl-types .owl-next {
        top: -50px;
        width: 40px;
        line-height: 40px;
        height: 40px;
        font-size: 30px;
    }
    #owl-types .owl-prev {
        right: 0;
    }
    #owl-types .owl-next {
        left: 0;
    }
 /************************************************************************************************************************************************** End Index.HTML **********************************************************************************/
    
     /************************************************************************************************************************************************** Start Apply.HTML **********************************************************************************/
    .grid{
        display: block;
    }
    .grid .cs-img {
        width: 270px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .grid .cs-body {
        width:100%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .grid .cs-body ul li {
    display: block;
    width: 100%;
    }
    
    /************************************************************************************************************************************************** End Apply.HTML **********************************************************************************/
   
}


@media (max-width:480px) {

    h1,
    h2,
    h3,
    h4 {
        font-size: 16px !important;
        line-height: 1.5
    }

    .button1,
    a,
    p,
    select,
    span {
        font-size: 14px !important
    }
    .badge-li a {
        font-size: 16px !important;
    }
    .footer a{
        font-size: 12px !important;
    }
    .head-txt h1 {
        font-size: 21px !important;
    }
    /********************** Start filter Section ********************/
    .filter a{
        font-size: 12px !important;
    }
    /********************** End filter Section ********************/
/**************************************************************************************************************************************** End Calender .HTML *************************************************************************/
    
    
     /************************************************************************************************************************************************** Start Course Details .HTML **********************************************************************************/
    .call1 .cs-icon {
    font-size: 20px !important;
    }
    .call1 p {
    font-size: 12px !important;
}
.row-ul li {
    width: 100%;
        font-size: 12px;
        padding: 0 15px 0 0;
    }/************************************************************************************************************************************************** End Course Details .HTML **********************************************************************************/
    
    
    /************************************************************************************************************************************************** Start Apply .HTML **********************************************************************************/
        .radio-list .rad{
        margin: 0 0 0 5px;
    font-size: 12px;
    }
    /************************************************************************************************************************************************** End Apply .HTML **********************************************************************************/
    
     /************* Cart . HTML ***********/
    .tb-title {
        font-size: 11px !important;
    }

}


/************************************ Media Print *************************/
@media print {
    #printed , body , html , div{
        direction: rtl !important;
        text-align: right !important;
        float: right !important;
    }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}